{% assign featured = settings.home_featured_products %}
{% assign collection = collections[featured] %}
{% assign number_of_products_to_fetch = 15 %}
{% assign grid_item_width = 'one-whole' %}

{% if collection.products.size > 0 %}

<div class="grid--full featured-collection">
  <div class="grid-item">
    <div class="carousel text-center">
      {% if collection.title == 'Frontpage' %}
        <span class="carousel__title h4">{{ "collections.general.featured_title" | t }}</span>
      {% else %}
        <span class="carousel__title h4">{{ collection.title }}</span>
      {% endif %}
      <div class="grid-uniform carousel__items carousel-items owl-carousel">
        {% for product in collection.products limit: number_of_products_to_fetch %}
              {% include 'product-grid-item' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% else %}

<!-- Blank States -->
{% unless emptyState %}
  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
  {% assign emptyState = true %}
{% endunless %}
<div class="grid--full featured-collection">
  <div class="grid-item">
    <div class="helper-section">
      <div class="helper-note">
        <span class="helper-icon"></span>
        <h3>{{ 'home_page.onboarding.featured_collection_title' | t }}</h3>
        <p>{{ 'home_page.onboarding.featured_collection_text_html' | t: collection: featured }}</p>
        <p>
          <a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.featured_collection_cta' | t }}</a>
          <a href="/admin/themes/current/settings" class="secondary-action">{{ 'home_page.onboarding.featured_collection_cta_secondary' | t }}</a>
        </p>
      </div>

      <div class="carousel text-center helper-content">
        <span class="carousel__title h4">{{ "collections.general.featured_title" | t }}</span>
        <div class="grid-uniform carousel__items carousel-items owl-carousel">
          {% for i in (1..3) %}
            <div class="product-item{% if grid_item_width %} grid-item {{grid_item_width}} {% else %} fluid-grid-item{% endif %} text-center">
              <div class="grid-image">
                <a href="#" class="grid-image--centered">
                  {% capture imageUrl %}http://cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                  {{ imageUrl | img_tag }}
                </a>
              </div>
              <p class="product-item__name">
                <a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a>
              </p>
              <p class="product-item__price">
                {% assign product_price = 5900 %}
                <span class="product-item__price">{% include 'price' with product_price %}</span>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

{% endif %}
