<div class="mobile-nav--sticky">
  <div class="grid-item medium--hide large--hide one-half mobile-nav__item">
    <div id="mobileNavBar">
      <button class="menu-toggle btn-link mobile-nav-bar__link">
        <span class="icon-fallback-text">
          <span class="icon icon-menu" aria-hidden="true"></span>
        </span>
        Menu
      </button>
    </div>
  </div>
  <div class="grid-item medium--hide large--hide one-half text-right mobile-nav__item">
    <a href="/cart" class="cart-toggle mobile-nav-bar__link">
      Cart
      <span class="cart-icon-wrapper">
        <span class="icon-fallback-text">
          <span class="icon icon-cart" aria-hidden="true"></span>
        </span>
        <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </span>
    </a>
  </div>
</div>
