<div class="grid-item one-quarter small--hide header-login-wrapper">
  <div class="left-header-menu-item">
    <a href="/collections/">
    Shop
  </a>
  </div>
  <div class="left-header-menu-item">
    <a href="/pages/about">
    About
  </a>
</div>
</div>
