{% if product.metafields.custom_fields.hero_ingredient_image_filename %}
<div class="product-hero-ingredient grid wrapper">
  <div class="product-hero-ingredient__description grid-item one-half small--one-whole">
    <h3 class="product-hero-ingredient__description--title">{{ product.metafields.custom_fields.hero_ingredient_name }}</h3>
    <h4 class="product-hero-ingredient__description--subtitle">{{ product.metafields.custom_fields.hero_ingredient_latin_name }}</h3>
    <p class="product-hero-ingredient__description--text">
      {{ product.metafields.custom_fields.hero_ingredient_description }}
    </p>
  </div>
  <div class="product-hero-ingredient__image grid-item one-half small--one-whole">
    <img alt="{{ product.metafields.custom_fields.hero_ingredient_name }}" src="{{product.metafields.custom_fields.hero_ingredient_image_filename | asset_url }}"/>
  </div>
</div>

{% endif %}
