<div class="how-it-works">
  <div class="full-box wrapper">
    <div class="text-center">
      <div class="botanic-section-header">Made to Order</div>
      <div class="botanic-section-subheader">Here's how we do it:</div>
    </div>

    <div class="grid">
      <div class="illustration step-1 grid-item large--one-third">
        <div class="logo"></div>
        <div class="botanic-section-small-header">Freshly <br/>Made</div>
        <p>We make your fresh juice to order using meticulously sourced organic ingredients and botanicals from the most knowledgable producers.</p>
      </div>


      <div class="illustration step-2 grid-item large--one-third">
        <div class="logo"></div>
        <div class="botanic-section-small-header">Delivered <br/>to you</div>
        <p>When your juice is ready, we deliver it to you chilled and ready to drink.</p>
      </div>

      <div class="illustration step-3 grid-item large--one-third">
        <div class="logo"></div>
        <div class="botanic-section-small-header">Straight Into <br/>Your Fridge</div>
        <p>Get your drinks straight into the fridge and keep them at a
        temperature of 5<sup style="top: -0.5em">o</sup>C. </p>
      </div>
    </div>

    <div class="illustration subscribe bottom">
      <div class="logo"></div>
      <div class="botanic-section-small-header">Weekly or Monthly Juice Subscriptions</div>
      <!-- <p>To subscribe, find a product you love in our shop!</p> -->
      <p>COMING SOON!</p>
      <!-- <div class="subscribe-cta-wrapper"> -->
      <!--   <a class="cta" href="/collections">Take me to the shop</a> -->
      <!-- </div> -->
    </div>
  </div>

</div>
