<div class="middle-box-wrapper grid-item large--one-half medium-down--one-whole">
  <a href="/blogs/news/">
    <div class="journal-announce-box middle-box">
      <h3 class="journal-announce-box__header">The Journal : News and musings directly from the Lab</h3>
    </div>
  </a>
</div>
