{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}

<div class="juice-grid-item grid-item {{grid_item_width}}">
  <a href="{{ product.url }}">

    <div class="grid--full">
      <div class="grid-item one-third">
        <div class="grid-image">
          <div class="grid-image--centered">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          </div>
        </div>
      </div>
      <div class="grid-item two-thirds juice-grid-item__right">
        <p class="juice-grid-item__name">
          {{ product.title }}
        </p>
        <div class="juice-grid-item__ingredients">
          {% comment %}
          {{ product.metafields.custom_fields.ingredients }}
          {% endcomment %}
          {{ product.description }}
        </div>
      </div>
    </div>
  </a>
</div>
