<ul class="site-nav" id="accessibleNav">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}">{{ link.title }}</a>
        <ul class="site-nav--dropdown">
          {% for childlink in linklists[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="customer-navlink medium--hide large--hide"><a href="/account">View Account</a></li>
      <li class="customer-navlink medium--hide large--hide">{{ 'Log out' | customer_logout_link }}</li>
    {% else %}
      <li class="customer-navlink medium--hide large--hide">{{ 'Sign in' | customer_login_link }}</li>
      {% if shop.customer_accounts_optional %}
      <li class="customer-navlink medium--hide large--hide">{{ 'Create an Account' | customer_register_link }}</li>
      {% endif %}
    {% endif %}
  {% endif %}
</ul>
