{% comment %}
  Blank single product state
{% endcomment %}

{% unless emptyState %}
  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
  {% assign emptyState = true %}
{% endunless %}

<div class="helper-section">
  <div class="helper-note">
    <span class="helper-icon"></span>
    <h3>{{ 'home_page.onboarding.single_product_title' | t }}</h3>
    {% assign featured = settings.home_featured_products %}
    <p>{{ 'home_page.onboarding.single_product__text_html' | t: collection: featured }}</p>
    <p>
      <a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.single_product_cta' | t }}</a>
      <a href="/admin/themes/current/settings" class="secondary-action">{{ 'home_page.onboarding.single_product_cta_secondary' | t }}</a>
    </p>
  </div>

  <div class="helper-content">

    <div class="grid">
      <div class="grid-item one--whole text-center item-product-title">
        <h1 itemprop="name">{{ 'home_page.onboarding.product_title' | t }}</h1>
      </div>

      <div class="grid-item medium--four-sixths large--four-sixths push--one-sixth item-product-photo">
        <div class="product-photo-container" id="productPhoto">
          {% capture imageUrl %}http://cdn.shopify.com/s/images/themes/product-1.png{% endcapture %}
          <img src="{{ imageUrl }}" id="productPhotoImg">
        </div>
      </div>

      <div class="rte grid-item five-sixths push--large--one-twelfth push--medium--one-twelfth text-center item-product-description rte" itemprop="description">
        <p>{{ 'home_page.onboarding.no_featured_product_html' | t }}</p>
      </div>

      <div class="grid-item item-product-info">
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product_available %}InStock{% else %}OutOfStock{% endif %}">

          {% comment %}
            ID addToCartForm is a selector for the ajaxify cart plugin
          {% endcomment %}
          <form class="form-add-to-cart form-horizontal" action="javascript:void(0);" method="get" enctype="multipart/form-data" id="addToCartForm">


            <div class="form-item-container price-container">
              <span id="productPrice" class="product-price" itemprop="price">
                {% assign product_price = 5900 %}
                {% include 'price' with product_price %}
              </span>
            </div>

            <div class="form-item-container add-to-cart-container">
              <button type="submit" name="add" id="addToCart" class="btn btn-add-to-cart ">
                <span class="icon-fallback-text out-of-stock-icon-wrapper">
                  <span class="icon icon-error" aria-hidden="true"></span>
                </span>
                <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>

    {% if settings.related_products_enable and template != 'index' %}
      {% include 'related-products' %}
    {% endif %}
  </div>

</div>
