    {% assign published_at = article.published_at | date: '%B %d, %Y' %}
    {% if article.excerpt contains "<img" %}
        {% assign image_src = article.excerpt | split: 'src="' %}
        {% assign image_src = image_src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% endif %}

    {% if article.content contains "link: " %}
        {% assign link_href = article.content | split: 'link: ' %}
        {% assign link_href = link_href[1] %}
        {% assign target = "_blank" %}
    {% else %}
        {% assign link_href = article.url %}
        {% assign target = "" %}
    {% endif %}

    <div class="blog-tile">
      <div class="blog-tile-inner">
        <a href="{{link_href}}" target="{{target}}">
          <img src={{image_src}}></img>
          <div class="blog-tile--label">
            <div class="blog-tile--label__date">{{ published_at }}</div>
            <div class="blog-tile--label__title">{{ article.title }}</div>
          </div>
        </a>
      </div>
    </div>
