<!-- snippets/featured-collections.liquid -->
<div class="grid--full featured-collections">
  <div class="grid-item text-center">
    <h3 class="section-header--title">{{ 'home_page.sections.featured_title' | t }}</h3>
  </div>

  <div class="grid-item three-quarters push--one-eighth text-center collection-list">

    {% assign index = 0 %}

    {% if settings.home_featured_collections_sort == 'manual' %}
      {% if settings.collection_1 != blank %}{% assign index = index | plus: 1 %}{% endif %}
      {% if settings.collection_2 != blank %}{% assign index = index | plus: 1 %}{% endif %}
      {% if settings.collection_3 != blank %}{% assign index = index | plus: 1 %}{% endif %}
      {% if settings.collection_4 != blank %}{% assign index = index | plus: 1 %}{% endif %}
      {% if settings.collection_5 != blank %}{% assign index = index | plus: 1 %}{% endif %}
      {% if settings.collection_6 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% else %}
      {% for collection in collections limit:7 %}
        {% unless index > 6 %}
          {% unless collection.handle == 'frontpage' %}
            {% assign index = index | plus: 1 %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}



    {% if settings.home_featured_collections_sort == 'manual' %}
      {% if settings.collection_1 != blank %}
        {% assign featured = settings.collection_1 %}
        {% include 'collection-grid-item' %}
      {% endif %}
      {% if settings.collection_2 != blank %}
        {% assign featured = settings.collection_2 %}
        {% include 'collection-grid-item'%}
      {% endif %}
      {% if settings.collection_3 != blank %}
        {% assign featured = settings.collection_3 %}
        {% include 'collection-grid-item' %}
      {% endif %}
      {% if settings.collection_4 != blank %}
        {% assign featured = settings.collection_4 %}
        {% include 'collection-grid-item' %}
      {% endif %}
      {% if settings.collection_5 != blank %}
        {% assign featured = settings.collection_5 %}
        {% include 'collection-grid-item' %}
      {% endif %}
      {% if settings.collection_6 != blank %}
        {% assign featured = settings.collection_6 %}
        {% include 'collection-grid-item' %}
      {% endif %}
    {% else %}
      {% for collection in collections limit:7 %}
        {% unless index > 6 %}
          {% unless collection.handle == 'frontpage' %}
            {% assign featured = collection.handle %}
            {% include 'collection-grid-item' %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>
</div>
