<div class="clearfix"></div>

<footer class="site-footer" role="contentinfo">
  <div class="wrapper wrapper-footer-body">
    <div class="grid">
      <div class="grid-item medium-down--one-whole large--one-third">
        <ul class="footer-quick-links">
          {% for link in linklists[settings.footer_quicklinks_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="grid-item medium-down--one-whole large--one-third text-center">
        <img class="organic-logo" src="{{ 'soil_organic.png' | asset_url }}">
      </div>

      <div class="grid-item medium-down--one-whole large--one-third">
        <h3 class="footer-heading large--text-right">Follow us on social media</h3>
        <span class="large--text-right">

        <ul class="inline-list social-icons">
            <li>
              <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram">
                <span class="icon icon-instagram" aria-hidden="true"></span>
                <span class="fallback-text">Instagram</span>
              </a>
            </li>
            <li>
              <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="fallback-text">Twitter</span>
              </a>
            </li>
            <li class="social-icon--last">
              <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="fallback-text">Facebook</span>
              </a>
            </li>
        </ul>

        </span>
        <div class="footer-logo large--text-right medium-down--text-center">
          <img src="{{ 'logo_black.png' | asset_url }}">
          <p>2015 (C) Made in London</p>
        </div>

      </div>

    </div>
  </div>


</footer>
