<div class="text-center front-landing__juice-list-menu hidden-menu">
  <ul>
    <li><a class="front-landing-cta cta" href="/collections/botanic-range">Botanic Range</a></li>
    <li><a class="front-landing-cta cta" href="/collections/tonic-range">Tonic Range</a></li>
    <li><a class="front-landing-cta cta" href="/collections/plant-milks">Plant Milk Range</a></li>
    <li><a class="front-landing-cta cta" href="/collections/lab-range">Lab Range</a></li>
  </ul>
  <ul>
    <li><a class="front-landing-cta cta" href="/collections/programs">Juice Programs</a></li>
  </ul>
</div>
