<div class="front-landing">
  <div class="front-landing-bkg"></div>
  <div class="front-landing-inside-wrapper">
    <div class="front-landing-inside--logo">
      <img src="{{ "front-logo.jpg" | asset_url }}"/>
    </div>

    <span class="medium--hide large--hide">
      {% include 'front-box-list' %}
      <div class="front-landing-inside--small-cta">
        <div class="front-landing-cta cta show-products">
          See products
        </div>
      </div>
    </span>

    <span class="small--hide">

      {% include 'front-box-list' %}
      <div class="front-landing-inside--medium-cta">
        <div class="front-landing-cta cta show-products">
          Show me the products
        </div>
      </div>
    </span>
  </div>
</div>

<script>
  $(function() {
    $(".show-products").click(function() {
      $(".front-landing__juice-list-menu, .show-products").toggleClass("hidden-menu");
    });
  });
</script>
