<div class="grid-item large--one-half medium--one-half header-logo-wrapper">

  <h1 class="header-logo" itemscope itemtype="http://schema.org/FoodEstablishment">

    <a href="/" itemprop="url">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
    </a>

  </h1>
</div>
