<div class="grid-item one-quarter small--hide header-cart-wrapper">
  <div class="cart-wrapper">
    <a href="/cart" class="cart-toggle" id="cartToggle">
      <span class="cart-icon-wrapper">
        <span class="icon-fallback-text">
          <span class="icon icon-cart" aria-hidden="true"></span>
        </span>
        <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </span>
      {{ 'layout.cart.title' | t }}
    </a>
  </div>

  {% comment %}
  <div class="auth">
    {% if customer %}
    <a href="/account">
      {{ customer.first_name }}
      <span class="icon-fallback-text">
        <span class="icon icon-user" aria-hidden="true"></span>
      </span>
    </a>
    {% else %}
    <a href="/account/login">
      {{ 'customer.login.sign_in' | t }}
    </a>
    {% endif %}
  </div>
  {% endcomment %}

  <div class="auth">
    <a href="/pages/find-us/">
      Find us
    </a>
  </div>

</div>
