<div class="wrapper">
  <div class="ingredients-showcase-module text-center">

    <div class="botanic-section-header">Natural Herbal &amp; Tonic Extracts</div>

    <div class="grid">

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/botanic-2">
          <img src="{{ 'ginseng-small.jpg' | asset_url }}">
          <div class="ingredient-header">Siberian Ginseng</div>
          <div class="ingredient-subheader">Eleutherococcus Senticosus</div>

          <!-- <p>An adaptogenic herb known to enhance the body’s natural ability to adjust to stress, while supporting mental endurance and metabolic efficiency.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/tonic-2-new">
          <img src="{{ 'ashwagandha-small.jpg' | asset_url }}">
          <div class="ingredient-header">Ashwagandha</div>
          <div class="ingredient-subheader">Withania Somnifera</div>

          <!-- <p>An Ayurveda herb that helps to nourish and restore optimal nervous and immune system health by normalising mood, energy levels, and overall immune function.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/plant-milk-2">
          <img src="{{ 'cacao-small.jpg' | asset_url }}">
          <div class="ingredient-header">Raw cacao</div>
          <div class="ingredient-subheader">Theobroma Cacao</div>

          <!-- <p>With a long history as a food, medicine and currency, this nutritious plants traditional uses include antidepressant, mood leveller and energy booster</p> -->
        </a>
      </div>


      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/tonic-3-new">
          <img src="{{ 'goji-small.jpg' | asset_url }}">
          <div class="ingredient-header">Goji Berry</div>
          <div class="ingredient-subheader">Lycium Barbarum</div>

          <!-- <p>Contain abundance of essential and beneficial phytochemicals that will strengthen the body’s overall constitution, improving quality of sleep and neurologic performance.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/plant-milk-2">
          <img src="{{ 'yerba-mate-small.jpg' | asset_url }}">
          <div class="ingredient-header">Yerba mate</div>
          <div class="ingredient-subheader">Ilex Paraguariensis</div>

          <!-- <p>The strength of coffee, the health benefits of tea, and the euphoria of chocolate! Helps maintain focus and clarity and boost physical energy.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/tonic-1-new">
          <img src="{{ 'matcha-small.jpg' | asset_url }}">
          <div class="ingredient-header">Matcha Green Tea</div>
          <div class="ingredient-subheader">Camellia Sinensis</div>

          <!-- <p>Contains slow release caffeine enhancing focus for longer. The natural L-Theanine and high magnesium content promote relaxation.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/tonic-2-new">
          <img src="{{ 'rhodiola-small.jpg' | asset_url }}">
          <div class="ingredient-header">Rhodiola Rosea</div>
          <div class="ingredient-subheader">Lignum Rhodium</div>

          <!-- <p>Considered to support the function of the adrenal glands and encourage a healthy response to physical and mental stress by normalising stress-related hormones.</p> -->
        </a>
      </div>

      <div class="ingredient grid__item medium--one-half small--one-whole large--one-quarter">
        <a href="/products/tonic-3-new">
          <img src="{{ 'schisandra-small.jpg' | asset_url }}">
          <div class="ingredient-header">Schisandra Chinensis</div>
          <div class="ingredient-subheader">Wu wei zi</div>

          <!-- <p>A hero of Chinese Medicine it’s function is to enhance the body's natural resistance, support mental endurance and promote overall metabolic efficiency</p> -->
        </a>
      </div>

    </div>

  </div>
</div>
