<div class="grid__full">
  {% if product.metafields.custom_fields.ingredients %}
  <div class="grid-item small--text-center one-half small--one-whole">
    <div class="product-ingredients-container">
      <h2>Organic Ingredients</h2>
      {% assign ingredients = product.metafields.custom_fields.ingredients | split: ',' %}
      {% for ingredient in ingredients %}
      <div class="ingredient">{{ ingredient }}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if product.metafields.custom_fields.nutrition_information %}
  <div class="grid-item small--text-center one-half small--one-whole">
    <div class="product-ingredients-container">
      <h2>Nutritional Information</h2>
      <p class="product-ingredients__label">per 100g</p>
      {% assign nutrition_information = product.metafields.custom_fields.nutrition_information | split: ',' %}
      {% for nutrient in nutrition_information %}
      <div class="ingredient">{{ nutrient }}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if product.metafields.custom_fields.program_contents %}
  <div class="grid-item small--text-center one-half small--one-whole">
    <div class="product-ingredients-container">
      <h2>Juices</h2>
      {% assign juices = product.metafields.custom_fields.program_contents | split: ';' %}
      {% for juice_str in juices %}
      {% assign juice_comp = juice_str | split: ', ' %}
      {% assign juice_qty = juice_comp[0] %}
      {% assign juice_handle = juice_comp[1] %}
      {% for p in collections["individual-juices"].products %}
      {% if p.handle == juice_handle %} {% assign juice = p %} {% endif %}
      {% endfor %}
      <div class="ingredient">{{ juice_qty }}x <a href="{{juice.url}}">{{juice.title}}</a></div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
