<div class="wrapper">
  <div class="instagram-module text-center">
    <div class="wrapper full-box">

      <div class="botanic-section-header">
        <div class="icon icon-instagram" aria-hidden="true"></div>
        Love Botanic Lab?
        <!-- <span class="botanic-header-split botanic-green">Show us!</span> -->
      </div>

      <div class="botanic-section-sub-header">
        Send your pics to <a class="insta-link botanic-green" target="_blank" href="http://instagram.com/botaniclab/" target="_blank">@botaniclab</a> on <img src="{{'instagram-logo.png' | asset_url }}" style="position: relative; top: 10px">
      </div>

      <div class="instafeed-carousel">
        <div class="owl-carousel owl-theme">
          <div>
            <a target="_blank" href="http://instagram.com/p/rorwwmw-8O"><img src="{{ 'instagram-rorwwmw-8O.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/ufmQXCQ-3b"><img src="{{ 'instagram-ufmQXCQ-3b.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/rgxj_9w-yE"><img src="{{ 'instagram-rgxj_9w-yE.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/uTZLtPQ-3M"><img src="{{ 'instagram-uTZLtPQ-3M.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/yFzrvPw-yW"><img src="{{ 'instagram-yFzrvPw-yW.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/yC4DAYw-4R"><img src="{{ 'instagram-yC4DAYw-4R.jpg' | asset_url }}"></a>
          </div>
          <div>
            <a target="_blank" href="http://instagram.com/p/yeKIaUw-9I"><img src="{{ 'instagram-yeKIaUw-9I.jpg' | asset_url }}"></a>
          </div>

        </div>

        <div class="botanic-section-sub-header">
          Follow us for exclusive offers and pop up locations
        </div>
      </div>

    </div>

  </div>
</div>


<script>
  $(".instafeed-carousel .owl-carousel").owlCarousel({
  margin: 20,
  autoplay: 1000,
  loop: true,
  items: 5,
  itemsDesktop: [1100,4],
  itemsMobile: [768, 3]
  });
</script>
