<div class="middle-box-wrapper grid-item large--one-half medium-down--one-whole">
  <a href="/collections/lab-range">
    <div class="isotonic-announce-box middle-box">
      <h3 class="isotonic-announce-box__header">Refuel a depleted system with ISOTONIC1 - our new game changing elixir</h3>
    </div>
  </a>
</div>
