<div class="middle-box-wrapper grid-item large--one-half small--one-whole">
  <div class="mailing-list-module middle-box">

    <h3 class="mailing-list-module__header text-black">Get exclusive offers by signing up to our community</h3>

    <form action="{{ settings.newsletter_form_action }}" method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" target="_blank"
          class="cta input-group form-newsletter-signup"
          style="margin-top: 50px">
      <div class="grid--full">
        <div class="grid-item three-quarters" style="margin-bottom: 0; height: 38px">
          <input type="email" placeholder="your@email.com" name="EMAIL" id="mce-EMAIL" aria-label="Email" autocorrect="off" autocapitalize="off">
        </div>
        <div class="grid-item one-sixth">
          <button type="submit" class="btn icon-fallback-text" name="subscribe" id="mc-embedded-subscribe">
            <span class="icon icon-check" aria-hidden="true"></span>
            <span class="fallback-text">Subscribe</span>
          </button>
        </div>
      </div>

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_1b79616c0858623e8ebb5fd9b_14185c0e40" tabindex="-1" value=""></div>

    </form>

  </div>
</div>
