{% comment %}

  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}

<form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group form-newsletter-signup">
  <label for="EMAIL">{{ 'general.newsletter_form.caption' | t }}</label>
  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.email' | t }}" autocorrect="off" autocapitalize="off">
  <span class="input-group-btn">
    <button type="submit" class="btn icon-fallback-text" name="subscribe" id="subscribe"><span class="icon icon-check" aria-hidden="true"></span><span class="fallback-text">{{ "general.newsletter_form.submit" | t }}</span></button>
  </span>
</form>
