<div class="middle-box-wrapper grid-item large--one-half medium-down--one-whole">
  <a href="/collections/plant-milks">
    <div class="plantmilk-announce-box middle-box">
      <h3 class="plantmilk-announce-box__header text-black">Engines on: vital plant energy to optimise metabolism</h3>
    </div>
  </a>
</div>
