<div class="wrapper">
  <div class="press-module full-box text-center">

    <div class="botanic-section-header">Press</div>

    <div class="press-carousel">
      <div class="owl-carousel">

        <!-- <div class="quote"> -->
        <!--   <p>"But the chicest one is undoutedly from Botanic Lab who’s ISOTONIC1 looks like something from an Alexander Wang campaign."</p> -->
        <!--   <div class="origin"><a target="_blank" href="http://thefoodqueens.com/portfolio/charcoal-juice-anyone/">The Food Queens</a></div> -->
        <!-- </div> -->

        <div class="quote">
          <p>"Botanic Lab's ISOTONIC1 rehydrating drink is one of a growing number of beverages to incorporate the ingredient du jour. Black is the new green"</p>
          <div class="origin"><a target="_blank" href="">Mr Porter Journal</a></div>
        </div>

        <div class="quote">
          <p>"The packaging looked chic and modern. It was surprisingly delicious! I finished the lot and would definitely have it again. Afterwards, I felt energised and clean – I actually really enjoyed it."</p>
          <div class="origin"><a target="_blank" href="">Marks: 9/10. Grazia Food</a></div>
        </div>

        <div class="quote">
          <p>"With every ingredient scrupulously sourced, no synthetic substances in sight and boasting potent replenishing and cleansing abilities, 'ISO1' might end up ushering in a new phase of pitch-black detox drinks."</p>
          <div class="origin"><a target="_blank" href="http://www.wallpaper.com/gallery/lifestyle/december-food-news-editors-picks/17056199#110652">Wallpaper magazine</a></div>
        </div>

        <div class="quote">
          <p>"The coconut oil delivers that silky mouthful that you’d expect from good ice-cream. In combination with the intense nuttiness this is next level almond milk, as if Ben and Jerry were making it."</p>
          <div class="origin"><a target="_blank" href="http://www.blinklondon.com/blink-lifestyle-botanic-labs-almond-milk-with-extras/">Blink London</a></div>
        </div>

        <div class="quote">
          <p>"Move over coconut water. We’re drinking activated charcoal cane juice instead. Try Botanic Lab’s ISOTONIC1 to ward off that hangover."</p>
          <div class="origin"><a href="#">Sunday Times Style</a></div>
        </div>

        <div class="quote">
          <p>"Enter Botanic Lab who can make your January detox dreams come true…. The service is great, the juices are organic and fresh, low in sugar and delicious"</p>
          <div class="origin"><a target="_blank" href="http://www.abouttimemagazine.co.uk/eat/top-5-juice-cleanses-london/">About Time Magazine</a></div>
        </div>

        <div class="quote">
          <p>"That almond milk is out of this world. I want to pour it in the bath and lay in it like Cleopatra."</p>
          <div class="origin"><a target="_blank" href="https://twitter.com/alancarr/status/502837571098271744">Alan Carr</a></div>
        </div>

        <div class="quote">
          <p>"Another round please"</p>
          <div class="origin"><a target="_blank" href="http://www.vogue.co.uk/blogs/vogue-today/2014/3/vogue-eats-juice-delivery">Vogue</a></div>
        </div>

      </div>

      <script>
        $(".press-carousel .owl-carousel").owlCarousel({
        margin: 10,
        autoplay: 4000,
        loop: true,
        items: 1
        });
      </script>

    </div>

  </div>
</div>
