<div class="product-delivery">

  <div class="product-delivery-inner wrapper">
    <div class="grid-item one-third small--one-whole">
      <h3 class="product-delivery__header">Delivery information</h3>
      <p class="product-delivery__text">We provide a delivery service to the whole of the UK (with a few geographical exceptions).  Weekday delivery is included in the cost of purchase.  Saturday delivery can be provided at and additional cost of £12. </p>
      <a class="product-delivery__link" href="/pages/delivery">More about delivery</a>
    </div>

    <div class="grid-item one-third small--one-whole">
      <h3 class="product-delivery__header">We recommend</h3>
      <p class="product-delivery__text"> Storing your drinks delivery in the fridge immediately. Have your drinks delivered when you are home or at the office as we cannot redeliver fresh drinks in the event of non-refrigeration.</p>
      <a class="product-delivery__link" href="/pages/terms">Read our terms & conditions</a>
    </div>

    <div class="grid-item one-third small--one-whole small--text-center">
      <img class="product-delivery-icon" src="{{ 'soil_organic.png' | asset_url }}">
      <img class="product-delivery-icon" src="{{ 'euro-organic.png' | asset_url }}">
    </div>
  </div>

</div>
