<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid wrapper">

    <div class="grid-item medium-down--one-whole large--seven-twelfths item-product-photo">
      <div class="product-photo-container" id="productPhoto">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="productPhotoImg">
      </div>

      {% include 'ingredient-or-juice-list' %}
    </div>

    <div class="rte grid-item item-product-description
                medium-down--one-whole
                large--five-twelfths">

      <div class="grid-item item-product-title">
        <h1 itemprop="name">{{ product.title }}</h1>
      </div>

      <div itemprop="description" class="text-left">
        {{ product.description }}
      </div>

      {% if product.type == "Beverage" %}
      <div class="text-left item-product-volume">
        Volume: {{ product.metafields.custom_fields.volume_ml }} ml
      </div>
      <div class="text-left item-product-volume">
        Consume within {{ product.metafields.custom_fields.shelf_life }} days
      </div>
      {% endif %}


      {% if product.metafields.custom_fields.spotlight_benefits %}
      <div class="spotlight-benefits text-left">
        Spotlight on:
        <ul>
          {% assign benefits = product.metafields.custom_fields.spotlight_benefits | split: ',' %}
          {% for benefit in benefits %}
          <li class="benefit">{{ benefit }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}


      <div class="grid-item item-product-info">
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          {% assign variant = product.selected_or_first_available_variant %}

          {% if product.type != "Beverage" %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          {% for variant in product.variants %}
          <form action="/cart/add" id="form-{{variant.id}}" method="post" enctype="multipart/form-data" class="juice-family-top__box--form">
            <select id="product-select" name="id" class="hidden"> <option value="{{ variant.id }}"></option> </select>
            <div class="juice-family-top__box--price grid--full">
              <div class="grid-item three-quarters small--one-whole juice-family-top__box--price-description text-left">
                <span class="juice-family-top__box--price-description__top">
                  <span class="juice-family-top__box--price-description__top--price-per">{{variant.option1}}</span>
                  <span class="juice-family-top__box--price-description__top--quantity">{{variant.option2}} bottles</span>
                </span>
                <div class="juice-family-top__box--price-description__bottom">
                  including delivery
                </div>
              </div>
              <div class="grid-item one-quarter small--one-whole juice-family-top__box--price-value small--text-left">{{variant.price | money}}</div>
            </div>
            <div class="juice-family-top__box--add-to-cart__wrapper">
              <input type="submit" class="juice-family-top__box--add-to-cart" value="Add to cart"></input>
            </div>
          </form>
          {% endfor %}

          <div class="clearfix"></div>
          {% else %}

          <div class="individual-juice-buy-notice">

            {% assign boxes = product.metafields.custom_fields.mixed_box | split: ', ' %}
            <p class="text-left">{{product.title}} is available to buy in:</p>
            <ul>
              {% for box in boxes %}
              {% for p in collections["all-boxes"].products %}
              {% if p.handle == box %} {% assign mixed_box = p %} {% endif %}
              {% endfor %}
              <li class="product-mixed-box__wrapper" >
                <a class="product-mixed-box__link" href="{{ mixed_box.url }}"> {{mixed_box.title}}</a>
              </li>
              {% endfor %}
            </ul>
            <p class="text-left">
              and at <a class="product-retail-link" href="/pages/find-us/">select retailers in London</a>.
            </p>
          </div>

          {% endif %}
        </div>
      </div>

    </div>

  </div>
  {% include 'product-delivery-section' %}

  {% include 'hero-ingredient' %}

</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  Shopify.Image.preload({{ product.images | json }}, 'large');

  var selectCallback = function(variant, selector) {
  timber.productPage({
  moneyFormat: "{{ shop.money_format }}",
  variant: variant,
  selector: selector
  });
  };
  setTimeout(function(){$("#default-product-prices").hide();}, 0);

</script>
