<!-- Colors -->
<fieldset>
  <legend>Colors</legend>
  <table>
    <tr>
      <td colspan="3">
        <h3 class="heading">General</h3>
      </td>
    </tr>
    <tr>
      <th>
        <label for="color_body_bg">Body Background</label>
      </th>
      <td colspan="2"><input id="color_body_bg" name="color_body_bg" class="color" type="text" value="#fffff" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_borders">Lines and Borders</label>
      </th>
      <td colspan="2"><input id="color_borders" name="color_borders" class="color" type="text" value="#ebebeb" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_payment_icons">Payment icons</label>
      </th>
      <td colspan="2"><input id="color_payment_icons" name="color_payment_icons" class="color" type="text" value="#ebebeb" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <h3 class="heading">Navigation</h3>
      </td>
    </tr>
    <tr>
      <th>
        <label for="color_navigation_bg">Navigation Background</label>
      </th>
      <td colspan="2"><input id="color_navigation_bg" name="color_navigation_bg" class="color" type="text" value="#7acec3" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_navigation_links">Navigation Links</label>
      </th>
      <td colspan="2"><input id="color_navigation_links" name="color_navigation_links" class="color" type="text" value="#ffffff" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <h3 class="heading">Buttons</h3>
      </td>
    </tr>
    <tr>
      <th>
        <label for="color_button_primary">Primary Color</label>
      </th>
      <td><input id="color_button_primary" name="color_button_primary" class="color" type="text" value="#7acec3" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_button_primary_text">Primary Text Color</label>
      </th>
      <td><input id="color_button_primary_text" name="color_button_primary_text" class="color" type="text" value="#ffffff" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_button_secondary">Secondary Button Color</label>
      </th>
      <td><input id="color_button_secondary" name="color_button_secondary" class="color" type="text" value="#7acec3" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_button_secondary_text">Secondary Button Text Color</label>
      </th>
      <td><input id="color_button_secondary_text" name="color_button_secondary_text" class="color" type="text" value="#ffffff" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <h3 class="heading">Text</h3>
      </td>
    </tr>
    <tr>
      <th>
        <label for="color_heading">Headings</label>
      </th>
      <td colspan="2"><input id="color_heading" name="color_heading" class="color" type="text" value="#444343" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_sub_heading">Sub-headings</label>
      </th>
      <td colspan="2"><input id="color_sub_heading" name="color_sub_heading" class="color" type="text" value="#a1a1a1" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_body_text">Body Text</label>
      </th>
      <td colspan="2"><input id="color_body_text" name="color_body_text" class="color" type="text" value="#696969" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_price">Price</label>
      </th>
      <td colspan="2"><input id="color_price" name="color_price" class="color" type="text" value="#444343" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_sale_price">Sale Price</label>
      </th>
      <td colspan="2"><input id="color_sale_price" name="color_sale_price" class="color" type="text" value="#a1a1a1" /></td>
    </tr>
    <tr>
      <th>
        <label for="color_links">Links</label>
      </th>
      <td colspan="2"><input id="color_links" name="color_links" class="color" type="text" value="#62b2a7" /></td>
    </tr>
  </table>
</fieldset>

<!-- Typography -->
<fieldset>
  <legend>Typography</legend>
  <table>
    <tr>
      <td colspan="3">
        <h3 class="heading">Navigation, Buttons and Sub-headings</h3>
      </td>
    </tr>
    <tr>
      <th><label for="type_accent_family">Font Family</label></th>
      <td>
        <select name="type_accent_family" id="type_accent_family">
          <optgroup label="Sans-serif | Google Web Fonts">
            <option value="Google_Montserrat_700_sans">Montserrat Bold</option>
            <option value="Google_Montserrat_400_sans">Montserrat</option>
            <option value="Google_Droid+Sans_400_sans">Droid Sans</option>
            <option value="Google_Dosis_600_sans">Dosis Semi-Bold</option>
            <option value="Google_Lato_700_sans">Lato Bold</option>
            <option value="Google_Open+Sans_600_sans">Open Sans Semi-Bold</option>
            <option value="Google_PT+Sans_400_sans">PT Sans</option>
            <option value="Google_Roboto_500_sans">Roboto Semi-Bold</option>
            <option value="Google_Ubuntu_400_sans">Ubuntu</option>
          </optgroup>
          <optgroup label="Sans-serif">
            <option value="'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif">Avant Garde</option>
            <option value="'Gill Sans', 'Gill Sans MT', Calibri, sans-serif">Gill Sans</option>
            <option value="'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif">Helvetica Neue</option>
            <option value="Arial, 'Helvetica Neue', Helvetica, sans-serif">Arial</option>
            <option value="Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Candara</option>
            <option value="Geneva, Tahoma, Verdana, sans-serif">Geneva</option>
          </optgroup>
          <optgroup label="Serif | Google Web Fonts">
            <option value="Google_Merriweather_700">Merriweather Bold</option>
            <option value="Google_Arvo_400_serif">Arvo</option>
            <option value="Google_Crimson+Text_600_serif">Crimson Text Semi-Bold</option>
            <option value="Google_Droid+Serif_400_serif">Droid Serif</option>
            <option value="Google_Lora_400_serif">Lora</option>
            <option value="Google_PT+Serif_400_serif">PT Serif</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif">Big Calson</option>
            <option value="'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif">Calisto MT</option>
            <option value="Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif">Baskerville</option>
            <option value="Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif">Garamond</option>
            <option value="TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif">Times New Roman</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="type_navigation_size">Font Size</label></th>
      <td>
        <select name="type_navigation_size" id="type_navigation_size">
          <option value="13px">13px</option>
          <option value="14px">14px</option>
          <option value="15px">15px</option>
          <option value="16px">16px</option>
          <option value="17px">17px</option>
          <option value="18px">18px</option>
          <option value="19px">19px</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <label for="type_navigation_transform">Capitalize</label>
      </th>
      <td><input type="checkbox" id="type_navigation_transform" name="type_navigation_transform" value="1" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <h3 class="heading">Headings</h3>
      </td>
    </tr>
    <tr>
      <th><label for="type_header_family">Font Family</label></th>
      <td>
        <select name="type_header_family" id="type_header_family">
          <optgroup label="Serif | Google Web Fonts">
            <option value="Google_Merriweather_700">Merriweather Bold</option>
            <option value="Google_Arvo_400_serif">Arvo</option>
            <option value="Google_Crimson+Text_600_serif">Crimson Text Semi-Bold</option>
            <option value="Google_Droid+Serif_400_serif">Droid Serif</option>
            <option value="Google_Lora_400_serif">Lora</option>
            <option value="Google_PT+Serif_400_serif">PT Serif</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif">Big Calson</option>
            <option value="'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif">Calisto MT</option>
            <option value="Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif">Baskerville</option>
            <option value="Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif">Garamond</option>
            <option value="TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Sans-serif">
            <option value="'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif">Avant Garde</option>
            <option value="'Gill Sans', 'Gill Sans MT', Calibri, sans-serif">Gill Sans</option>
            <option value="'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif">Helvetica Neue</option>
            <option value="Arial, 'Helvetica Neue', Helvetica, sans-serif">Arial</option>
            <option value="Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Candara</option>
            <option value="Geneva, Tahoma, Verdana, sans-serif">Geneva</option>
          </optgroup>
          <optgroup label="Sans-serif | Google Web Fonts">
            <option value="Google_Droid+Sans_400_sans">Droid Sans</option>
            <option value="Google_Dosis_600_sans">Dosis Semi-Bold</option>
            <option value="Google_Lato_700_sans">Lato Bold</option>
            <option value="Google_Montserrat_400_sans">Montserrat</option>
            <option value="Google_Montserrat_700_sans">Montserrat Bold</option>
            <option value="Google_Open+Sans_600_sans">Open Sans Semi-Bold</option>
            <option value="Google_PT+Sans_400_sans">PT Sans</option>
            <option value="Google_Roboto_500_sans">Roboto Semi-Bold</option>
            <option value="Google_Ubuntu_400_sans">Ubuntu</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="type_heading_size">Base Font Size</label></th>
      <td>
        <select name="type_heading_size" id="type_heading_size">
          <option value="25px">25px</option>
          <option value="26px">26px</option>
          <option value="27px">27px</option>
          <option value="28px">28px</option>
          <option value="29px">29px</option>
          <option value="30px">30px</option>
          <option value="31px">31px</option>
          <option value="32px">32px</option>
          <option value="33px">33px</option>
          <option value="34px">34px</option>
          <option value="35px">35px</option>
          <option value="36px">36px</option>
          <option value="37px">37px</option>
          <option value="38px">38px</option>
          <option value="39px">39px</option>
          <option value="40px">40px</option>
          <option value="41px">41px</option>
          <option value="42px">42px</option>
          <option value="43px">43px</option>
          <option value="44px">44px</option>
          <option value="45px">45px</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <label for="type_heading_transform">Capitalize</label>
      </th>
      <td><input type="checkbox" id="type_heading_transform" name="type_heading_transform" value="1" /></td>
    </tr>

    <tr>
      <td colspan="3">
        <h3 class="heading">Body Text</h3>
      </td>
    </tr>
    <tr>
      <th><label for="type_base_family">Font Family</label></th>
      <td>
        <select name="type_base_family" id="type_base_family">
          <optgroup label="Sans-serif | Google Web Fonts">
            <option value="Google_Open+Sans">Open Sans</option>
            <option value="Google_Open+Sans_600_sans">Open Sans Semi-Bold</option>
            <option value="Google_Droid+Sans_400_sans">Droid Sans</option>
            <option value="Google_Dosis_600_sans">Dosis Semi-Bold</option>
            <option value="Google_Lato_700_sans">Lato Bold</option>
            <option value="Google_Montserrat_400_sans">Montserrat</option>
            <option value="Google_Montserrat_700_sans">Montserrat Bold</option>
            <option value="Google_PT+Sans_400_sans">PT Sans</option>
            <option value="Google_Roboto_500_sans">Roboto Semi-Bold</option>
            <option value="Google_Ubuntu_400_sans">Ubuntu</option>
          </optgroup>
          <optgroup label="Sans-serif">
            <option value="'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif">Avant Garde</option>
            <option value="'Gill Sans', 'Gill Sans MT', Calibri, sans-serif">Gill Sans</option>
            <option value="'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif">Helvetica Neue</option>
            <option value="Arial, 'Helvetica Neue', Helvetica, sans-serif">Arial</option>
            <option value="Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Candara</option>
            <option value="Geneva, Tahoma, Verdana, sans-serif">Geneva</option>
          </optgroup>
          <optgroup label="Serif | Google Web Fonts">
            <option value="Google_Merriweather_700">Merriweather Bold</option>
            <option value="Google_Arvo_400_serif">Arvo</option>
            <option value="Google_Crimson+Text_600_serif">Crimson Text Semi-Bold</option>
            <option value="Google_Droid+Serif_400_serif">Droid Serif</option>
            <option value="Google_Lora_400_serif">Lora</option>
            <option value="Google_PT+Serif_400_serif">PT Serif</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif">Big Calson</option>
            <option value="'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif">Calisto MT</option>
            <option value="Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif">Baskerville</option>
            <option value="Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif">Garamond</option>
            <option value="TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif">Times New Roman</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="type_base_size">Font Size</label></th>
      <td>
        <select name="type_base_size" id="type_base_size">
          <option value="13px">13px</option>
          <option value="14px">14px</option>
          <option value="15px">15px</option>
          <option value="16px">16px</option>
          <option value="17px">17px</option>
          <option value="18px">18px</option>
          <option value="19px">19px</option>
        </select>
      </td>
    </tr>
  </table>
</fieldset>

<!-- Header -->
<fieldset>
  <legend>Header</legend>
  <table>
    <tr>
      <td colspan="3">
        <h3 class="heading">Logo</h3>
      </td>
    </tr>
    <tr>
      <th>
        <label for="logo_use_image">Use Custom Logo</label>
      </th>
      <td colspan="2"><input type="checkbox" id="logo_use_image" name="logo_use_image" /></td>
    </tr>
    <tr>
      <th>
        <label for="logo_image">Custom Logo</label>
      </th>
      <td><input type="file" name="logo.png" id="logo_image" data-max-width="450" data-max-height="250" /></td>
      <td><small>Maximum logo dimensions are 450px wide by 250px high. The uploaded file will be resized to fit within those constraints.</small></td>
    </tr>
    <tr>
      <th>
        <label for="logo_max_width">Max Logo Width</label>
      </th>
      <td>
        <input type="text" id="logo_max_width" name="logo_max_width" size="2" value="450" class="inline" />
        <span>px</span>
      </td>
      <td><small>Defines the CSS max-width.</small></td>
    </tr>
    <tr>
      <td colspan="3">
        <h3 class="heading">Favicon</h3>
      </td>
    </tr>
    <tr>
      <td>
        <label for="favicon_enable">
          <input type="checkbox" id="favicon_enable" name="favicon_enable" value="1" selected="selected" />Use custom icon?
        </label>
      </td>
      <td><input type="file" id="favicon" name="favicon.png" data-max-width="16" data-max-height="16" /></td>
      <td><small>16px x 16px png</small></td>
    </tr>
  </table>
</fieldset>

<!-- Footer -->
<fieldset>
  <legend>Footer</legend>
  <table>
    <tr>
      <th><label for="footer_quicklinks_enable">Show quick links</label></th>
      <td colspan="2"><input type="checkbox" id="footer_quicklinks_enable" name="footer_quicklinks_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="footer_quicklinks_linklist">Quick links link list</label></th>
      <td colspan="2"><select class="linklist" name="footer_quicklinks_linklist" id="footer_quicklinks_linklist" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="footer_social_enable">Show social media links</label></th>
      <td colspan="2"><input type="checkbox" id="footer_social_enable" name="footer_social_enable" value="1" /></td>
    </tr>
    <tr>
      <td><label for="social_twitter_link">Twitter link</label></td>
      <td><input type="url" id="social_twitter_link" name="social_twitter_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_facebook_link">Facebook link</label></td>
      <td><input type="url" id="social_facebook_link" name="social_facebook_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_pinterest_link">Pinterest link</label></td>
      <td><input type="url" id="social_pinterest_link" name="social_pinterest_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_google_plus_link">Google Plus link</label></td>
      <td><input type="url" id="social_google_plus_link" name="social_google_plus_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_instagram_link">Instagram link</label></td>
      <td><input type="url" id="social_instagram_link" name="social_instagram_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_tumblr_link">Tumblr link</label></td>
      <td><input type="url" id="social_tumblr_link" name="social_tumblr_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_youtube_link">YouTube link</label></td>
      <td><input type="url" id="social_youtube_link" name="social_youtube_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_vimeo_link">Vimeo link</label></td>
      <td><input type="url" id="social_vimeo_link" name="social_vimeo_link" size="50" /></td>
    </tr>
    <tr>
      <td><label for="social_fancy_link">Fancy link</label></td>
      <td><input type="url" id="social_fancy_link" name="social_fancy_link" size="50" /></td>
    </tr>
    <tr>
      <td colspan="3">
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="footer_custom_enable">Show footer contact info</label></th>
      <td><input type="checkbox" id="footer_custom_enable" name="footer_custom_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="footer_custom_title">Footer contact title</label></th>
      <td><input type="text" id="footer_custom_title" name="footer_custom_title" size="50" value="" /></td>
    </tr>
    <tr>
      <th><label for="footer_custom_text">Footer contact text</label></th>
      <td>
        <textarea name="footer_custom_text" cols="60" rows="5" id="footer_custom_text" value="" />
        <small>Basic HTML formatting is allowed</small>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="footer_newsletter_enable">Show Newsletter Field</label></th>
      <td colspan="2"><input type="checkbox" id="footer_newsletter_enable" name="footer_newsletter_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="newsletter_form_action">MailChimp Form Action URL</label></th>
      <td><input type="text" id="newsletter_form_action" name="newsletter_form_action" value="" /></td>
      <td colspan="3">
        <small>
          <a href="http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action" target="_blank">Where can I find this?</a>
        </small>
      </td>
    </tr>
  </table>
</fieldset>

<!-- Home Page -->
<fieldset>
  <legend>Home Page</legend>

  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Sections</h3>
        <p>Choose which sections to show on your home page and the order in which they should appear. </p>
      </td>
    </tr>
    <tr>
      <td>
        <select name="home_section_1" id="home_section_1">
          <option value="">(none)</option>
          <option value="slider">Slider</option>
          <option value="featured-product">Featured Single Product</option>;
          <option value="featured-collections">Featured Collections</option>
          <option value="featured-collection">Featured Products</option>
          <option value="home-content">Page Content</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select name="home_section_2" id="home_section_2">
          <option value="">(none)</option>
          <option value="slider">Slider</option>
          <option value="featured-product">Featured Single Product</option>;
          <option value="featured-collections">Featured Collections</option>
          <option value="featured-collection">Featured Products</option>
          <option value="home-content">Page Content</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select name="home_section_3" id="home_section_3">
          <option value="">(none)</option>
          <option value="slider">Slider</option>
          <option value="featured-product">Featured Single Product</option>;
          <option value="featured-collections">Featured Collections</option>
          <option value="featured-collection">Featured Products</option>
          <option value="home-content">Page Content</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <select name="home_section_4" id="home_section_4">
          <option value="">(none)</option>
          <option value="slider">Slider</option>
          <option value="featured-product">Featured Single Product</option>;
          <option value="featured-collections">Featured Collections</option>
          <option value="featured-collection">Featured Products</option>
          <option value="home-content">Page Content</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <small>You can configure each section below.</small>
      </td>
    </tr>
  </table>
</fieldset>

<!-- Home Page - Slider -->
<fieldset>
  <legend>Home Page - Slider</legend>

  <table>
    <tr>
      <td colspan="2">
        <p><small>You can turn this section on and off in the Home Page section above. <br />Note: The optimal dimensions for your slideshow images are 955px wide and a consistent height.</small></p>
      </td>
    </tr>
    <tr>
      <th><label for="slider_home_auto">Rotate slides</label></th>
      <td><input type="checkbox" id="slider_home_auto" name="slider_home_auto" value="1" /></td>
    </tr>
    <tr>
      <th>
        <label for="slider_home_effect">Animation between slides</label>
      </th>
      <td>
        <select name="slider_home_effect" id="slider_home_effect">
          <option value="fadeOut">Fade</option>
          <option value="false">Slide</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <label for="slider_home_rate">Time between slides</label>
      </th>
      <td>
        <select name="slider_home_rate" id="slider_home_rate">
          <option value="5000">5 seconds</option>
          <option value="6000">6 seconds</option>
          <option value="7000">7 seconds</option>
          <option value="8000">8 seconds</option>
          <option value="9000">9 seconds</option>
          <option value="10000">10 seconds</option>
          <option value="15000">15 seconds</option>
        </select>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 1</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_1">Enable</label></th>
      <td><input type="checkbox" id="slide_1" name="slide_1" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_1">Image</label></th>
      <td><input type="file" name="slide_1.jpg" id="slide_1" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_1_link">Link URL</label></th>
      <td><input type="text" id="slide_1_link" name="slide_1_link" size="50" value="collections" /></td>
    </tr>
    <tr>
      <th><label for="slide_1_alt">Alt Text</label></th>
      <td><input type="text" id="slide_1_alt" name="slide_1_alt" size="50" value="" title="Used by search engines" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 2</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_2">Enable</label></th>
      <td><input type="checkbox" id="slide_2" name="slide_2" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_2">Image</label></th>
      <td><input type="file" name="slide_2.jpg" id="slide_2" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_2_link">Link URL</label></th>
      <td><input type="text" id="slide_2_link" name="slide_2_link" size="50" value="" title="Used by search engines" /></td>
    </tr>
    <tr>
      <th><label for="slide_2_alt">Alt Text</label></th>
      <td><input type="text" id="slide_2_alt" name="slide_2_alt" size="50" value="" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 3</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_3">Enable</label></th>
      <td><input type="checkbox" id="slide_3" name="slide_3" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_3">Image</label></th>
      <td><input type="file" name="slide_3.jpg" id="slide_3" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_3_link">Link URL</label></th>
      <td><input type="text" id="slide_3_link" name="slide_3_link" size="50" value="" /></td>
    </tr>
    <tr>
      <th><label for="slide_3_alt">Alt Text</label></th>
      <td><input type="text" id="slide_3_alt" name="slide_3_alt" size="50" value="" title="Used by search engines" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 4</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_4">Enable</label></th>
      <td><input type="checkbox" id="slide_4" name="slide_4" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_4">Image</label></th>
      <td><input type="file" name="slide_4.jpg" id="slide_4" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_4_link">Link URL</label></th>
      <td><input type="text" id="slide_4_link" name="slide_4_link" size="50" value="" /></td>
    </tr>
    <tr>
      <th><label for="slide_4_alt">Alt Text</label></th>
      <td><input type="text" id="slide_4_alt" name="slide_4_alt" size="50" value="" title="Used by search engines" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 5</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_5">Enable</label></th>
      <td><input type="checkbox" id="slide_5" name="slide_5" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_5">Image</label></th>
      <td><input type="file" name="slide_5.jpg" id="slide_5" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_5_link">Link URL</label></th>
      <td><input type="text" id="slide_5_link" name="slide_5_link" size="50" value="" /></td>
    </tr>
    <tr>
      <th><label for="slide_5_alt">Alt Text</label></th>
      <td><input type="text" id="slide_5_alt" name="slide_5_alt" size="50" value="" title="Used by search engines" /></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2">
        <h3 class="heading">Slide 6</h3>
      </td>
    </tr>
    <tr>
      <th><label for="slide_6">Enable</label></th>
      <td><input type="checkbox" id="slide_6" name="slide_6" value="1" /></td>
    </tr>
    <tr>
      <th><label for="slide_6">Image</label></th>
      <td><input type="file" name="slide_6.jpg" id="slide_6" data-max-width="955" /></td>
    </tr>
    <tr>
      <th><label for="slide_6_link">Link URL</label></th>
      <td><input type="text" id="slide_6_link" name="slide_6_link" size="50" value="" /></td>
    </tr>
    <tr>
      <th><label for="slide_6_alt">Alt Text</label></th>
      <td><input type="text" id="slide_6_alt" name="slide_6_alt" size="50" value="" title="Used by search engines" /></td>
    </tr>
  </table>
</fieldset>

<!-- Home Page - Featured Single Product -->
<fieldset>
  <legend>Home Page - Featured Single Product</legend>
  <table>
    <tr>
      <td colspan="2">
        <small>You can turn this section on and off in the Home Page section above</small>
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="home_featured_single_product">Choose Collection</label></th>
      <td><select class="collection" name="home_featured_single_product" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <small>The theme will feature the first product found in this collection on the homepage.</small>
      </td>
    </tr>
  </table>
</fieldset>

<!-- Home Page - Featured Collections -->
<fieldset>
  <legend>Home Page - Featured Collections</legend>

  <table>
    <tr>
      <td colspan="2">
        <small>You can turn this section on and off in the Home Page section above</small>
        <hr />
      </td>
    </tr>
    <tr>
      <th><label>Choose Collections</label></th>
      <td>
        <input type="radio" name="home_featured_collections_sort" id="home_featured_auto" value="auto"/>
        <label for="home_featured_auto" class="inline">Automatically <small>(selects the your first six collections in alphabetical order)</small></label><br />
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <input type="radio" name="home_featured_collections_sort" id="home_featured_manual" value="manual" />
        <label for="home_featured_manual" class="inline">Manually <small>(select below)</small></label>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_1" /></td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_2" /></td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_3" /></td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_4" /></td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_5" /></td>
    </tr>
    <tr>
      <th></th>
      <td><select class="collection" name="collection_6" /></td>
    </tr>
  </table>
</fieldset>

<!-- Home Page - Featured Products -->
<fieldset>
  <legend>Home Page - Featured Products</legend>
  <table>
    <tr>
      <td colspan="2">
        <small>You can turn this section on and off in the Home Page section above</small>
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="home_featured_products">Choose Collection</label></th>
      <td><select class="collection" name="home_featured_products" /></td>
    </tr>
  </table>
</fieldset>

<!-- Home Page - Page Content-->
<fieldset>
  <legend>Home Page - Page Content</legend>

  <table>
    <tr>
      <td colspan="2">
        <small>You can turn this section on and off in the Home Page section above</small>
        <hr />
      </td>
    </tr>
    <tr>
      <th><label for="home_page_content">Choose page</label></th>
      <td><select class="page" name="home_page_content" id="home_page_content" /></td>
    </tr>
  </table>

</fieldset>

<!-- Product Pages -->
<fieldset>
  <legend>Product Pages</legend>
  <table>
    <tr>
      <th><label for="product_quantity_enable">Show Quantity Selector</label></th>
      <td colspan="2"><input type="checkbox" id="product_quantity_enable" name="product_quantity_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="product_vendor_enable">Show Product Vendor</label></th>
      <td colspan="2"><input type="checkbox" id="product_vendor_enable" name="product_vendor_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="related_products_enable">Show Related Products</label></th>
      <td colspan="2"><input type="checkbox" id="related_products_enable" name="related_products_enable" value="1" /></td>
    </tr>
  </table>
</fieldset>

<!-- Collection Pages -->
<fieldset>
  <legend>Collection Pages</legend>
  <table>
    <tr>
      <th><label for="collection_paginate_by">Products per page</label></th>
      <td>
        <select name="collection_paginate_by" id="collection_paginate_by">
          <option value="6">6</option>
          <option value="9">9</option>
          <option value="12">12</option>
          <option value="15">15</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="collection_tags_enable">Show tag dropdown</label></th>
      <td colspan="2"><input type="checkbox" id="collection_tags_enable" name="collection_tags_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="collection_sort_enable">Show sorting dropdown</label></th>
      <td colspan="2"><input type="checkbox" id="collection_sort_enable" name="collection_sort_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="collection_vendor_enable">Show product vendor</label></th>
      <td colspan="2"><input type="checkbox" id="collection_vendor_enable" name="collection_vendor_enable" value="1" /></td>
    </tr>
  </table>
</fieldset>

<!-- Blog Pages -->
<fieldset>
  <legend>Blog Pages</legend>
  <table>
    <tr>
      <th><label for="blog_tags_enable">Enable tags on article pages</label></th>
      <td><input type="checkbox" id="blog_tags_enable" name="blog_tags_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="blog_nav_enable">Enable next/previous links on article pages</label></th>
      <td><input type="checkbox" id="blog_nav_enable" name="blog_nav_enable" value="1" /></td>
    </tr>
  </table>
</fieldset>

<!-- Cart Pages -->
<fieldset>
  <legend>Cart Page</legend>
  <table>
    <tr>
      <th><label for="cart_notes_enable">Allow notes with orders</label></th>
      <td><input type="checkbox" id="cart_notes_enable" name="cart_notes_enable" value="1" /></td>
    </tr>
    <tr>
      <th><label for="ajax_cart_enable">Enable Ajaxify Cart Drawer</label></th>
      <td>
        <input type="checkbox" id="ajax_cart_enable" name="ajax_cart_enable" />
      </td>
    </tr>
  </table>
</fieldset>

<!-- Social Sharing -->
<fieldset>
  <legend>Social Sharing</legend>
  <table>
    <tr>
      <th>
        <label for="twittercard_handle">Twitter Handle</label>
      </th>
      <td><input type="text" id="twittercard_handle" name="twittercard_handle" value="@" /></td>
    </tr>
    <tr>
      <th><label for="social_sharing_products">Enable sharing for products</label></th>
      <td><input type="checkbox" id="social_sharing_products" name="social_sharing_products" value="1" /></td>
    </tr>
    <tr>
      <th><label for="social_sharing_blog">Enable sharing for blog articles</label></th>
      <td><input type="checkbox" id="social_sharing_blog" name="social_sharing_blog" value="1" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <td>
              <table>
                <th width="150"><label for="share_facebook">Share on Facebook</label></th>
                <td><input type="checkbox" id="share_facebook" name="share_facebook" value="1" /></td>
              </table>
            </td>
            <td>
              <table>
                <th width="150"><label for="share_twitter">Tweet on Twitter</label></th>
                <td><input type="checkbox" id="share_twitter" name="share_twitter" value="1" /></td>
              </table>
            </td>
            <td>
              <table>
                <th width="150"><label for="share_pinterest">Pin on Pinterest</label></th>
                <td><input type="checkbox" id="share_pinterest" name="share_pinterest" value="1" /></td>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <th width="150"><label for="share_fancy">Add to Fancy</label></th>
                <td><input type="checkbox" id="share_fancy" name="share_fancy" value="1" /></td>
              </table>
            </td>
            <td>
              <table>
                <th width="150"><label for="share_google">+1 on Google Plus</label></th>
                <td><input type="checkbox" id="share_google" name="share_google" value="1" /></td>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</fieldset>
