{% include 'front-landing' %}

<div class="wrapper">
  <div class="second-landing grid">
    {% include 'plantmilk-announce' %}
    {% include 'isotonic-announce' %}
    {% include 'journal-announce' %}
    {% include 'mailing-list-prompt' %}
  </div>
</div>


{% include 'how-it-works' %}
{% include 'ingredients' %}
{% include 'instagram' %}
{% include 'press-carousel' %}
