<div class="wrapper">
  <div class="grid--full">

    <div class="rte">
      <div class="page-header-box">
        <div class="wrapper">
          <div class="page-header-title">{{ page.title }}</div>
        </div>
      </div>
      {{ page.content }}
    </div>

  </div>
</div>
