<div class="wrapper">
  <div class="grid--full">

    <div class="rte">
      <div class="page-header-box">
        <div class="wrapper">
          <div class="page-header-title">{{ page.title }}</div>
        </div>
      </div>
      <div class="page-header-first-paragraph grid--full">
        <div class="wrapper">
          <p>For any inquiries, please contact us
            at <a href="mailto:info@botanic-lab.co.uk" style="text-decoration: underline; color: white">info@botanic-lab.co.uk</a>, or call us at 0208 9812961 (9.30am-5pm Mon-Fri). You can also leave us a note with the form below.
          <p>
        </div>
      </div>

    </div>

    <div>
      {% form 'contact' %}

      {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'contact.post_success' | t }}
      </p>
      {% endif %}

      <div class="grid" id="contactFormWrapper">
        <div class="grid-item one-half small--one-whole">
          <label for="contactFormName">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name_placeholder' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="grid-item one-half small--one-whole">
          <label for="contactFormEmail">{{ 'contact.form.email' | t }}</label>
          <input type="email"{% if form.errors contains "email" %} class="error"{% endif %} id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
        </div>
        <div class="grid-item one-whole">
          <label for="contactFormPhone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="" pattern="[0-9]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        </div>
        <div class="grid-item one-whole">
          <label for="contactFormMessage">{{ 'contact.form.message' | t }}</label>
          <textarea rows="6"{% if form.errors contains "body" %} class="error"{% endif %} id="contactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
        <div class="grid-item one-whole">
          <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
        </div>
      </div>

      <div class="contact-form__errors">
        {{ form.errors | default_errors }}
      </div>

      {% endform %}
    </div>

  </div>
</div>
