{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% comment %}
  We're going to reference the number of comments below, so let's hold it in a variable.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


<div class="grid blog-article">

  <article class="grid-item small--one-whole medium--two-thirds push--medium--one-sixth large--two-thirds push--large--one-sixth" itemscope itemtype="http://schema.org/Article">
    <header class="section-header">
      <div class="text-center">
        <h1>{{ article.title }}</h1>
        {% assign published_at = article.published_at | date: '%B %d, %Y' %}
        <p class="blog__details">{{ published_at }}</p>
      </div>
    </header>

    <div class="blog-article__content rte" itemprop="articleBody">
      {{ article.content }}
    </div>

    {% if settings.blog_tags_enable %}
      {% if article.tags.size > 0 %}
        <hr class="hr--narrow">
        <h3 class="text-center">{{ 'blogs.article.tags' | t }}</h3>
        <ul class="inline-list text-center">
          {% for tag in article.tags %}
            <li class="tag">
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

    {% if settings.social_sharing_blog %}
      <hr class="hr--narrow">
      <div class="text-center item-social-sharing">
        <h3>{{ "blogs.article.share_post" | t }}</h3>
        {% include 'social-sharing' %}
      </div>
    {% endif %}

    {% if settings.blog_nav_enable %}
      <hr class="hr--narrow">
      <p class="clearfix">
        {% if blog.previous_article %}
          <span class="left">
            &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
        {% endif %}
        {% if blog.next_article %}
          <span class="right">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
          </span>
        {% endif %}
      </p>
    {% endif %}

    {% if blog.comments_enabled? %}
      <hr class="hr--narrow">
      <div class="blog-comments">
        {% if number_of_comments > 0 %}

          <h3 class="blog-comments__header">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3>

          {% comment %}
            Just like blog.liquid page, define how many comments should be on each page.
          {% endcomment %}
          {% paginate article.comments by 5 %}
            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">

              {% if comment and comment.created_at %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              <ul>
                {% comment %}
                  If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment and comment.created_at %}
                  <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                    {% include 'comment' %}
                  </li>
                {% endif %}

                {% comment %}
                  Showing the rest of the comments.
                {% endcomment %}
                {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                    {% include 'comment' %}
                  </li>
                {% endfor %}
              </ul>

              {% if paginate.pages > 1 %}
                <hr class="hr--narrow">
                <div class="text-center">
                  {% include 'pagination-custom' %}
                </div>
              {% endif %}
            </div>
          {% endpaginate %}
        {% endif %}

        <hr>

        {% comment %}
          Comment submission form
        {% endcomment %}
        {% form 'new_comment', article %}
          {% comment %}
            #add-comment-title is used simply as an anchor link
          {% endcomment %}
          <h3 id="add-comment-title">{{ 'blogs.comments.title' | t }}</h3>

          <div class="grid">

            <div class="grid-item small--one-whole one-half">
              <label for="comment-author">{{ 'blogs.comments.name' | t }}</label>
              <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" placeholder="{{ 'blogs.comments.name_placeholder' | t }}" name="comment[author]" id="comment-author" value="{{ form.author }}" autocapitalize="words">
            </div>
            <div class="grid-item small--one-whole one-half">
              <label for="comment-email">{{ 'blogs.comments.email' | t }}</label>
              <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" placeholder="{{ 'blogs.comments.email_placeholder' | t }}" name="comment[email]" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid-item one-whole">
              <label for="comment-body">{{ 'blogs.comments.message' | t }}</label>
              <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body">{{ form.body }}</textarea>
            </div>

          </div>

          {% if blog.moderated? %}
            <p><em>{{ 'blogs.comments.moderated' | t }}</em></p>
          {% endif %}

          <input type="submit" class="btn comment-form__submit" value="{{ 'blogs.comments.post' | t }}">

          <div class="comment-form__errors">
            {{ form.errors | default_errors }}
          </div>
          {% if form.errors %}
            <script>
              window.location.hash = '#add-comment-title';
            </script>
          {% endif %}

          {% if form.posted_successfully? %}
            <script>
              window.location.hash = '#comments';
            </script>
          {% endif %}
        {% endform %}
      </div>
    {% endif %}

  </article>
</div>
