<div class="wrapper">

  <div class="grid">
    <div class="grid-item large--one-third medium--one-half small--one-whole">
    {% for article in blog.articles limit:3 %}
      {% include 'blog-item' with article %}
    {% endfor %}
    </div>
    <div class="grid-item large--one-third medium--one-half small--one-whole">
    {% for article in blog.articles offset:3 limit:3 %}
      {% include 'blog-item' with article %}
    {% endfor %}
    </div>
    <div class="grid-item large--one-third medium--one-half small--one-whole">
    {% for article in blog.articles offset:6 limit:3 %}
      {% include 'blog-item' with article %}
    {% endfor %}
    </div>

  </div>

</div>
