{% assign linklist = linklists['internal'] %}
<script>

  if (typeof Shopify === 'undefined') var Shopify = {};
  Shopify.cart = {{ cart | json }};
  Shopify.saturdayProduct = {{ linklist.links.first.object.variants.first.id }};

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/js/standalone/selectize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>
{{ 'botanic-cart-business-logic.js' | asset_url | script_tag }}
{{ 'botanic-cart-ui.js' | asset_url | script_tag }}

<link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/css/selectize.css" rel="stylesheet" type="text/css"  media="all"  />
<link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/css/selectize.default.css" rel="stylesheet" type="text/css"  media="all"  />

<!-- templates/cart.liquid -->
{% if cart.item_count > 0 %}

<div class="wrapper">
  <form action="/cart" method="post" novalidate>
    <div class="section-header text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
    </div>

    <div class="medium-down--hide">
      <div class="grid--full">
        <div class="grid-item large--one-half">
          <span class="table-header">{{ 'cart.label.product' | t }}</span>
        </div>
        <div class="grid-item large--one-half">
          <div class="grid--full">
            <div class="grid-item one-half text-center">
              <span class="table-header">{{ 'cart.label.quantity' | t }}</span>
            </div>
            <div class="grid-item one-half text-right">
              <span class="table-header">{{ 'cart.label.total' | t }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% for item in cart.items %}
    <div class="cart-row" data-id="{{ item.id }}">
      <div class="grid--full cart-row__table-layout">

        <div class="grid-item large--one-half">
          <div class="grid">

            <div class="grid-item one-half large--two-thirds">
              <a href="{{ item.url }}" class="h5">
                {{ item.product.title }}
              </a>
              {% if item.properties.size > 0 %}
              {% for p in item.properties %}
              {% unless p.last == blank %}
              {{ p.first }}:

              {% if p.last contains '/uploads/' %}
              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
              {% else %}
              {{ p.last }}
              {% endif %}

              <br>
              {% endunless %}
              {% endfor %}
              {% endif %}
              {% if item.id != linklist.links.first.object.variants.first.id %}
              <a class="cart-item__remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}">{{ 'cart.general.remove' | t }}</a>
              {% endif %}
            </div>

            <div class="grid-item one-half large--one-third">
              <a href="{{ item.url | within: collections.all }}" class="cart-image">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </div>

          </div>
        </div>

        <div class="grid-item large--one-half">
          <div class="grid--full cart-row__table-layout text-center">

            <div class="grid-item one-half qty-container">
              <span class="label cart-mini-labels">{{ 'cart.label.quantity' | t }}</span>
              <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
            </div>

            <div class="grid-item one-half large--text-right">
              <span class="label cart-mini-labels">{{ 'cart.label.total' | t }}</span>
              <span class="h3">
                {% include 'price' with item.line_price %}
              </span>
            </div>

          </div>
        </div>

      </div>
    </div>
    {% endfor %}

    <div class="cart-row cart-summary">
      <div class="grid">
        <div class="grid-item cart__note-wrapper large--one-half medium-down--one-whole">
          <div class="delivery-slot">
            <h3>Shipping</h3>

            <div>Pick your delivery slot:</div>

            <input type="hidden" id="delivery-date-at-page-load" value="{{ cart.attributes.date }}" />
            <select id="delivery-date-select" name="attributes[date]" value="{{ cart.attributes.date }}" > </select>

            <div class="evening-delivery-wrapper">
              <label for="evening-delivery">
                <input id="evening-delivery" type="checkbox" value="confirmed_evening" />
                I confirm that my postcode is <a href="/pages/postcodes/">eligible for evening delivery</a>
              </label>
            </div>

            <div class="cart__note-wrapper">
              <a href="#" class="cart__note-add">
                <span class="icon-fallback-text">
                  <span class="icon icon-note" aria-hidden="true"></span>
                  &nbsp;{{ 'cart.label.add_note' | t }}
                </span>
              </a>
              <div class="cart__note">
                <label for="cartSpecialInstructions">Additional information regarding your order:</label>
                <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
            </div>
            <hr style="margin: 20px 0">
            <div class="delivery-help-text">All goods are packaged in a chilled box. They require a signature on delivery and should be refrigerated straight away. Please see <a href="/pages/delivery">Delivery</a> for full details.</div>


          </div>
        </div>
        <div class="grid-item large--one-half medium-down--one-whole text-right">
          <input type="submit" name="update" class="btn-secondary update-cart" id="updateCart" value="{{ 'cart.general.update' | t }}">
          <input type="submit" id="checkout-btn" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">

          {% if additional_checkout_buttons %}
          <div class="cart__additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}
          <div class="tee_n_cee text-right">
            By clicking 'Checkout' you agree <br/> to Botanic Lab's <a href="/pages/terms">terms & conditions</a>
          </div>
        </div>

      </div>
    </div>

  </form>

  {% else %}
  <div class="section-header text-center">
    <h2>{{ 'cart.general.title' | t }}</h2>
  </div>
  <div class="text-center">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>Continue browsing <a href="/collections">here</a>.</p>
  </div>
  {% endif %}
</div>
