<main class=" main-content" role="main">

  {% if collection.description != "" %}
  <div class="juice-family-top">
    <div class="wrapper">
      <!-- <div class="juice-family-top__outer"> -->
      <!-- </div> -->

      <div class="juice-family-top__inner grid--full wrapper">

        <div class="grid-item large--one-third medium-down--one-whole">
          <header class="juice-family-top__left">
            <h1 class="juice-family-top__left--title">{{ collection.title }}</h1>
            <div class="juice-family-top__left--description">
              {{ collection.description }}
            </div>
          </header>
        </div>

        {% for p in collections["all-boxes"].products %}
        {% if p.handle == collection.metafields.custom_fields.featured_mixed_box %} {% assign mixed_box = p %} {% endif %}
        {% endfor %}

        {% if mixed_box %}
        {% assign featured_image = mixed_box.selected_or_first_available_variant.featured_image | default: mixed_box.featured_image %}
        <div class="grid-item push--large--one-sixth large--one-half medium-down--one-whole juice-family-details">
          <h1 class="juice-family-top__box--title"><a href="{{mixed_box.url}}">{{mixed_box.title}}</a></h1>
          <img class="juice-family-top__box--image" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" >

          {% for variant in mixed_box.variants %}
          <form action="/cart/add" id="form-{{variant.id}}" method="post" enctype="multipart/form-data" class="juice-family-top__box--form">
            <select id="product-select" name="id" class="hidden"> <option value="{{ variant.id }}"></option> </select>
            <div class="juice-family-top__box--price grid--full">
              <div class="grid-item three-quarters small--one-whole juice-family-top__box--price-description text-left">
                <span class="juice-family-top__box--price-description__top">
                  <span class="juice-family-top__box--price-description__top--price-per">1 Box of</span>
                  <span class="juice-family-top__box--price-description__top--quantity">{{variant.option2}} bottles</span>
                </span>
                <div class="juice-family-top__box--price-description__bottom">
                  including delivery
                </div>
              </div>
              <div class="grid-item one-quarter small--one-whole juice-family-top__box--price-value small--text-left">{{variant.price | money}}</div>
            </div>
            <div class="juice-family-top__box--add-to-cart__wrapper">
              <input type="submit" class="juice-family-top__box--add-to-cart" value="Add to cart"></input>
            </div>
          </form>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>


  {% endif %}


  <div class="grid--full juice-family-juice-list wrapper">
    <h3 class="juice-family-juice-list--title">The drinks</h3>
    {% for product in collection.products %}
    {% if product.tags contains "mixed_box" %}
    {% else %}
    <div class="grid-item one-half medium-down--one-whole">
      {% include 'juice-grid-item' %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% if collection.metafields.custom_fields.nutrition_fact %}
  <div class="collection-hero-ingredient">
    <div class="collection-hero-ingredient__content wrapper grid">
      <div class="collection-hero-ingredient--wrap large--two-thirds push--large--one-sixth">
        <div class="collection-hero-ingredient__content--background">
          <h3 class="collection-hero-ingredient__content--title text-center">Did you know?</h3>
          <p class="collection-hero-ingredient__content--text text-center">
            {{ collection.metafields.custom_fields.nutrition_fact }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function() {
    $(".collection-hero-ingredient").css("background-image", "url({{collection.metafields.custom_fields.nutrition_fact_picture | asset_url }})");
    });
  </script>
  {% endif %}

</main>
