<div class="grid--full collection-list">
  <div class="grid-item one-whole collection-list__header section-header text-center">
    <p class="h1">{{ linklists.all-collections.title }}</p>
  </div>
  <div class="grid-item text-center medium--three-quarters push--medium--one-eighth large--three-quarters push--large--one-eighth">
    {% for link in linklists.all-collections.links %}
      {% assign collection = link.object %}
      {% include 'collection-grid-item' %}
    {% endfor %}
  </div>
</div>



