<div class="wrapper">
  <div class="grid--full">

    <div class="grid-item large--two-thirds push--large--one-sixth">
      {% comment %}
      Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
      </div>

    </div>

  </div>
</div>
