var MONDAY = 1,
    TUESDAY = 2,
    WEDNESDAY = 3,
    THURSDAY = 4,
    FRIDAY = 5,
    SATURDAY = 6;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
};

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function is_BOTANIC_free_delivery_day(weekDay) {
  return ((weekDay == TUESDAY) || (weekDay == THURSDAY));
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function is_BOTANIC_evening_delivery_day(weekDay) {
  return ((weekDay == MONDAY) || (weekDay == WEDNESDAY) || (weekDay == FRIDAY));
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function is_BOTANIC_paying_delivery_day(weekDay) {
  return (weekDay == SATURDAY);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function is_excluded_delivery_day(date) {

    day = date.getDate();
    if ((date.getMonth() == 2) && (day >= 23) && (day <= 26)) {
        // emergency exclusion. March 23th to 26th 2015
        return true;
    }
    if ((date.getMonth() == 3) && ((day == 3) || (day == 4) || (day == 7))) {
        // easter break
        return true;
    }
    return false;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function formattedDate(date) {
    var d = new Date(date || Date.now()),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month, year].join('/');
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function getFirstFreeNextValidDeliveryDate(firstAvailableDate) {

  var result = firstAvailableDate;

	while (true) {
    if (is_BOTANIC_free_delivery_day(result.getDay())) {
      break;
    }
    result = result.addDays(1);
  }
	return formattedDate(result);
};

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function optionIsSaturday(option) {
  return ((typeof(option)!="undefined") && option.hasOwnProperty('saturday') && option.saturday==true) || false;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function optionIsEvening(option) {
  return ((typeof(option)!="undefined") && option.hasOwnProperty('evening') && option.evening==true) || false;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function getOption(value) {
  return _.find(window.deliveryOptions, function(opt) {return _.isEqual(opt.date, value)});
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function getCurrentWorkingDay() {

  var now = new Date(),
      minutesSinceMidnight = now.getHours()*60 + now.getMinutes(),
      last_permitted_ordering_time = 18*60; // 6pm

  if (minutesSinceMidnight > last_permitted_ordering_time) {
    return new Date().addDays(1) }
  else {
    return new Date()
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function renderDateOption(item, escape) {
  return('<div class="delivery-wrapper"><span class="delivery-option-top"><b>' + item.prettyDate + '</b> (' + item.price + ')</span><span class="delivery-option-bottom">'+ item.subtitle +'</span></div>')
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function renderDateSelectedOption(item, escape) {
  return('<div class="delivery-wrapper"><span class="delivery-option-top"><b>' + item.prettyDate + '</b> (' + item.price + ')</span></div>')
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function getFirstAvailableDeliveryDate() {
  var orderProcessingOffset = 2;
  return getCurrentWorkingDay().addDays(orderProcessingOffset);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function getFirstStandardDeliveryDate(options) {
  return _.find(options, function(opt) {
    return (opt.free==true && opt.evening==false)
  });
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function prettyWeekDay(weekDay) {

  // TODO: use moment.js!

  var names = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday"];

  return names[weekDay]
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function generateDeliverySlotOption(date) {

  var weekDay = date.getDay(),
      option = {};

  if (is_excluded_delivery_day(date)) {
    return undefined
  }

  if (is_BOTANIC_free_delivery_day(weekDay)) {
    return {
      prettyDate: prettyWeekDay(weekDay) + ", " +formattedDate(date) + " morning",
      date: formattedDate(date) + " AM",
      price: "Free",
      free: true,
      evening: false,
      subtitle: "from 9am to 1pm"
    }
  }

  if (is_BOTANIC_evening_delivery_day(weekDay)) {
    return {
      prettyDate: prettyWeekDay(weekDay) + ", " +formattedDate(date) + " evening",
      date: formattedDate(date) + " PM",
      price: "Free - LONDON only",
      subtitle: "from 6pm to 9pm",
      free: true,
      evening: true
    }
  }

  if (is_BOTANIC_paying_delivery_day(weekDay)) {
    return {
      prettyDate: prettyWeekDay(weekDay) + ", " +formattedDate(date) + " morning",
      date: formattedDate(date) + " AM",
      price: "£12",
      subtitle: "from 9am to 1pm",
      evening: false,
      free: false,
      saturday: true
    }
  };
  // no applicable option for this date..
  return undefined

}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function generateDeliveryOptions() {
  var start = getFirstAvailableDeliveryDate(),
      i = 0,
      opt = undefined,
      acc = [],
      date = start;

  while(i<20) {
    opt = generateDeliverySlotOption(date);
    if (opt) {
      acc.push(opt);
    }
    date = date.addDays(1);
    i++;
  }
  return acc;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function remove_saturday_from_cart() {
  // function will trigger browser page reload

  disable_UI_until_reload();

  var update = {};
  update[Shopify.saturdayProduct] = 0;

  var params = {
        type: 'POST',
        url: '/cart/update.js',
        data: {updates: update},
        dataType: 'json',
        complete: function() {window.location.href = '/cart';}
    };
  return $.ajax(params);
};

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function add_saturday_to_cart() {

  disable_UI_until_reload();

  var params = {
        type: 'POST',
        url: '/cart/add.js',
        data: 'quantity=1&id='+Shopify.saturdayProduct,
        dataType: 'json',
        complete: function() {window.location.href = '/cart';}
      };
  return $.ajax(params);
};

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

function update_delivery_date_on_cart(delivery_date, cb) {

  // set cart
  $("#delivery-date-select").val(delivery_date);

  return $.ajax("/cart/update.js", {
    type: "POST",
    data: {"attributes": {"date": delivery_date}},
    complete: cb
  });

};
