@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$botanic-green: #64b172;

.page-header-box {
    padding: 30px;
    background-color: $botanic-green;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    margin-top: 0 !important;
    margin-bottom: 0px !important;

    @media only screen and (max-width: 768px) {
      .wrapper { padding: 0}
    }
}

#about-the-lab {
  img {
      max-width: 100%;
      margin: 0;
  }
}
.page-header-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.page-header-first-paragraph {
    padding-bottom: 30px;
    background-color: $botanic-green;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    color: white;
}

#terms-amp-conditions, #delivery {
    .main-content a {
        text-decoration: underline;
    }
}

#postcodes {
    table, td, tr {
        border-width: 0px !important;
    }
    td.pc {
        font-weight: bold;
    }
}

.second-landing.grid {
    margin: 30px 0;
}

.middle-box-wrapper {
    margin: 10px 0;
    position: relative;
}
.middle-box-wrapper a {
    display: block;
}

.middle-box-wrapper:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.middle-box {

    height: 320px !important;
    position: relative;

    background-repeat: no-repeat;

    /* @media only screen and (min-width: 481px) {background-size: 100% auto;} */
    /* @media only screen and (max-width: 480px) {background-size: auto 100%;} */
    background-size: auto 100%;

    margin: 0 10px;
    padding-left: 0 !important;

    h3 {
        text-transform: uppercase;
        font-size: 1.2em;
        color: white;
        text-shadow: 1px 1px black;
        position: absolute;
        top: 30px;
        left: 50px;
        right: 50px;
    }
    .cta, .cta:visited {
              background-color: white;
              color: black;
              text-align: center;

              position: absolute;
              bottom: 100px;
              left: 50px;
          }
    .text-black {
        color: black;
    }
}

.plantmilk-announce-box {
    background-image: url(' {{ "plantmilk-announce.jpg" | asset_url }} ');
}

.isotonic-announce-box {
    background-image: url(' {{ "isotonic-announce.jpg" | asset_url }} ');
}

.journal-announce-box {
    background-image: url(' {{ "journal-announce.jpg" | asset_url }} ');
}

.full-box {
    margin: 30px auto;
    padding: 30px;
}
/* .plantmilk-announce-box__header, */
/* .isotonic-announce-box__header, */
/* .journal-announce-box__header, { */
/*     background-color: rgba(255, 255, 255, 0.4); */
/*     padding: 1em; */
/* } */
.plantmilk-announce-box__header {
    color: back !important;
    text-shadow: 1px 1px white !important;
}
.mailing-list-module__header {
    color: back !important;
    text-shadow: 1px 1px white !important;
}

.blog-tile {
  margin: 12px 0;

  .blog-tile-inner {
    position: relative;
  }

  img {
      width: 100%;
      height: 100%;
      border: 1px solid #333;
  }

  .blog-tile--label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 40%;
      
      border: 1px solid #333;
      padding: 7px;

      background-color: white;
      .blog-tile--label__date {
          color: #999;
          font-size: 0.85em;
      }
      .blog-tile--label__title {
          text-transform: uppercase;
          color: #333;
          line-height: 1.05em;
      }
  }
}

.tee_n_cee {
    margin-top: 10px;
    font-size: 0.7em;
    font-style: italic;
}

.cart__note-wrapper {
    margin-top: 20px;
}

.delivery-slot-picker {
    margin-bottom: 0px;
}

.delivery-help-text {
    font-style: italic;
    margin-bottom: 10px;
}

.evening-delivery-wrapper {
    display: none;
}

.evening-delivery {
    font-weight: normal !important;
}

.delivery-option-top,
.delivery-option-bottom
{
    padding: 3px;
    display: block;
}
.delivery-option-bottom {
    font-style: italic;
}

/* .delivery-wrapper { */
/*     position: relative; */
/* } */
/* .delivery-right { */
/*     right: 8px; */
/*     position: absolute; */
/* } */

.collection-list {
    img {
        max-height: 200px
    }
}

.collection-hero-ingredient {

    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(' {{ "nutrition-fact-hero.jpg" | asset_url }} ');
    background-size: cover;

    .collection-hero-ingredient__content {
        padding: 5em 0;
    }
    .collection-hero-ingredient__content--background {
         background-color: rgba(255, 255, 255, 0.6);
         border-radius: 3px;
    }
    .collection-hero-ingredient__content--title {
         font-size: 32px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
     }
    .collection-hero-ingredient__content--subtitle {
         font-size: 24px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
         font-style: italic;
     }
    .collection-hero-ingredient__content--text {
         font-size: 22px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
     }
}

$botanic-green: #64b172;

.cta  {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.botanic-green {
    color: $botanic-green !important;
}

.botanic-section-header,
.botanic-section-sub-header,
.botanic-section-small-header {
    font-family: Montserrat, HelveticaNeue, 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.botanic-section-header {
    font-weight: bold;
    font-size: 1.15em;
    margin: 15px 0;
}

.botanic-section-subheader {
    font-size: 1.05em;
    margin: 15px 0;
}

.botanic-section-small-header {
    font-weight: bold;
    color: $botanic-green;
    font-size: 1.05em;
}


.botanic-header-split {
    display: inline-block;
    margin-left: 5px;
}

.juice-family-top {

    /* @media only screen and (min-width: 768px) {height: 500px;} */
    /* @media only screen and (max-width: 768px) {height: 300px;} */

    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(' {{ "category-background.jpg" | asset_url }} ');
    background-size: cover;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);

    .juice-family-top__outer {
        width: 100vw;
        left: calc(50vw - 50%);
        position: absolute;

        background-repeat: no-repeat;
        background-position: left bottom;
        background-image: url(' {{ "category-background.jpg" | asset_url }} ');
        /* background-image: url(' {{ "nutrition-fact-hero.jpg" | asset_url }} '); */

        @media only screen and (min-width: 768px) {
            background-size: 100% auto;
            height: 500px;
        }
        @media only screen and (max-width: 768px) {
            background-size: auto 100%;
            height: 300px;
        }

    }
}

.juice-family-top__inner {
    padding: 30px 0;
}
.juice-family-top__inner--title {
    text-transform: uppercase;
    font-size: 2.5em;
}

.juice-family-top__left {
    background-color: rgba(254, 254, 254, 0.6);
    padding: 15px;

    .juice-family-top__left--title {
        margin-top: 0.4em;
        margin-bottom: 1em;
    }
    .juice-family-top__left--description {
        font-size: 1.1em;
        color: #333;
    }
}

.juice-family-top__box--title {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
}
.juice-family-top__box--image {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    max-width: 300px !important;
}
.juice-family-top__box--price {
}
.juice-family-top__box--price-value {
    font-weight: 100;
    font-size: 3em;
    line-height: 50px;
}
.juice-family-top__box--price-description {
    padding-left: 5px !important;
}
.juice-family-top__box--price-description__top--price-per {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}
.juice-family-top__box--price-description__top--quantity {
    font-style: italic;
    font-size: 1.2em;
}
.juice-family-top__box--price-description__bottom {
    font-size: 1em;
}
.juice-family-top__box--add-to-cart__wrapper {
    margin-top: 1.5em;
}
.juice-family-top__box--add-to-cart {
    background-color: #333;
    padding: 10px 40px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.05em;
    letter-spacing: 3px;
    display: block;
    width: 100%;
}
.juice-family-top__box--form {
    margin: 20px 5px;
}
.juice-family-details {
    background-color: rgb(235, 233, 234);
    padding: 20px !important;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.juice-family-juice-list {
    margin: 3em auto;

    .juice-family-juice-list--title {
        text-align: center;
        margin-top: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #666;
        text-transform: uppercase;
        font-weight: 300;
    }
}


/* .juice-family-nutrition-fact { */
/*     height: 500px; */
/*     width: 100%; */

/*     img.juice-family-nutrition-fact__background { */
/*         width: 100vw; */
/*         left: calc(50vw - 50%); */
/*         position: absolute; */
/*         height: 500px; */
/*     } */
/*     .juice-family-nutrition-content { */
/*         position: relative; */
/*         height: 100%; */
/*     } */
/*     .juice-family-nutrition-fact--wrap { */
/*         /\* background-color: rgba(254, 254, 254, 0.3); *\/ */
/*         border-radius: 10px; */
/*         position: absolute; */
/*         top: 10%; */
/*         left: 0; */
/*         right: 0; */
/*         text-align: center; */
/*         height: 60%; */
/*         padding: 0 2em; */
/*     } */
/*     .juice-family-nutrition-fact--title { */
/*         font-size: 2.2em; */
/*         color: #eee; */
/*         font-family: 'Montserrat'; */
/*         margin-top: 1em; */
/*         text-shadow: 2px 2px black; */
/*     } */
/*     .juice-family-nutrition-fact--text { */
/*         font-size: 26px; */
/*         text-shadow: 2px 2px black; */
/*         font-family: 'Montserrat'; */
/*         color: #eee; */
/*         margin-top: 2em; */
/*     } */
/* } */

$botanic-yellow: #f9ffba;

.site-footer {

    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 0px;

    background-color: $botanic-yellow;
    color: black;


    .footer-quick-links a {
        color: black;
    }

    .footer-logo {
        text-align: left;

        img {
            width: 200px;
        }

        p {
            font-size: 0.8em;
        }
    }

    .organic-logo {
        width: 120px;
        margin-bottom: 20px;
    }

    .social-icons li {
        a {
            color: black;
            &:hover {
                color: #555;
            }
        }
    }
    @media only screen and (min-width: 769px) {
        .social-icon--last {
            margin-right: 0;
        }
    }

}

$light-grey: #eee;
$botanic-green: #64b172;
$botanic-yellow: #f9ffba;
$front-height: 500px;

.main-content {
    margin-top: 0px;
}

.site-header {
}

.mailing-list-module {

    background-color: $botanic-yellow;

    input {
        background-color: white;
    }
}

* { box-sizing: border-box; }

.front-landing {
    text-align: center;
    height: $front-height;


    .front-landing-bkg {
        width: 100vw;
        left: calc(50vw - 50%);
        position: absolute;
        @media only screen and (min-width: 481px) {background-size: 100% auto;}
        @media only screen and (max-width: 480px) {background-size: auto 100%;}
        background-repeat: no-repeat;
        background-position: left bottom;
        height: $front-height;

        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);
    }

    @media only screen and (min-width: 769px) {
        .front-landing-bkg {
            background-image: url(' {{ "front-wide.jpg" | asset_url }} ');
        }
    }
    @media only screen and (max-width: 768px) {
        .front-landing-bkg {
            background-image: url(' {{ "front-mobile.jpg" | asset_url }} ');
        }
    }

    .front-landing-inside-wrapper {
        position: relative;
        height: $front-height;
    }

    .front-landing-inside--logo {
        position: absolute;

        top: 40%;
        -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);

        @media only screen and (max-width: 480px) {
            img {width: 70%;}
            width: 380px;
            left: calc(50% - 190px);
        }
        @media only screen and (min-width: 480px) {
            img {width: 100%;}
            width: 500px;
            left: calc(50% - 250px);
        }
    }

    .front-landing-inside--small-cta,
    .front-landing-inside--medium-cta {
        position: absolute;
        top: 70%;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);

        left: calc(50% - 150px);

    }
    .front-landing-cta {
        background-color: $botanic-green;
        color: white;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: darken($botanic-green, 10%);
            transition: all 0.2s linear;
            cursor: pointer;
            color: white;
        }
    }

    .front-landing-inside--small-cta {left: calc(50% - 100px);}
    .front-landing-inside--medium-cta {left: calc(50% - 150px);}

    .front-landing__juice-list-menu {
        position: absolute;
        left: 0;
        right: 0;

        li {
            display: inline-block;
            margin: 0.5em 0.4em;
            padding: 5 10px;
        }
    }
    .medium-up--hide .front-landing__juice-list-menu {
        top: 95%;
        -webkit-transform: translateY(-95%);
        -ms-transform: translateY(-95%);
        transform: translateY(-95%);

        li {
            min-width: 280px;
        }
    }
    .small--hide .front-landing__juice-list-menu {
        top: 78%;
        -webkit-transform: translateY(-78%);
        -ms-transform: translateY(-78%);
        transform: translateY(-78%);
    }

}

@media only screen and (min-width: 769px) {
    .large--one-half-with-margin {
        width: 44%;
    }
}

.hidden-menu {
    display: none;
}

.site-header {

    .auth,
    .cart-wrapper {
        display: inline-block;
        float: right;
        width: 100px;
    }
    .left-header-menu-item {
        display: inline-block;
        float: left;
        width: 100px;
    }
}

@media screen and (min-width: 481px) {
    .nav-bar {
        display: none !important;
    }
}

$illustration-zoom: 0.25;
$moz-illustration-zoom: 0.3;
$light-grey: #eee;
$botanic-green: #64b172;

.how-it-works {

    background-color: $light-grey;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    .illustration {
        text-align: center;
        .logo {
            margin: 10px auto;
        }
        p {
            margin: 5px 15px;
            font-size: 0.9em;
        }
    }
    .step-1 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -200px 0;
    }
    .step-2 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -400px 0;
    }
    .step-3 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -600px 0;
    }
    .subscribe .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: 0 0;

        h2 {
            text-transform: uppercase;
        }
    }
    .subscribe-cta-wrapper {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .cta {
        cursor: pointer;
        background-color: black;
        color: white;

    }
}

.ingredients-showcase-module {

    margin: 30px 0;

    .ingredient-header {
        text-transform: uppercase;
    }
    .ingredient-subheader {
        font-size: 0.85em;
        font-style: italic;
    }

    .ingredient {
        margin: 10px 0px 20px 0px;
        img {
            width: 150px;
            height: 100px;
        }
        text-align: center;

        h4 {
            text-transform: uppercase;
            font-size: 0.95em;
        }
        float: left;

        p {
            display: none;
        }
    }
    a, a:visited, a:hover {
      color: rgb(105, 105, 105) !important;
    }
}

.instagram-module {

    background-color: $light-grey;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);


    .icon-instagram {
        font-size: 2em;
        color: #333;
    }

    .insta-link {
        text-decoration: underline;
    }

    .instafeed-carousel {
        margin: 0 auto;
        padding: 30px 0;
        img {
            width: 180px !important;
            height: 180px !important;
        }
        @media only screen and (min-width: 769px) {}
        @media only screen and (max-width: 768px) {}

    }
    .owl-dot {
        background-color: #ccc;
    }
}

.juice-grid-item {

    padding: 1em;
    min-height: 250px;

    a > *, a:hover > * {
               color: #333;
           }

    .juice-grid-item__right {

        .juice-grid-item__name {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4em;
            &:hover {
                text-decoration: underline;
            }
        }
        .juice-grid-item__ingredients {
        }
        .juice-grid-item__price {
        }
    }
    &:hover {
        background-color: #eee;
    }
}

$botanic-green: #64b172;

.press-carousel {
    margin: 0px auto;

    h3 {
        padding: 20px 0;
        text-transform: uppercase;
    }
    .quote {
        margin-bottom: 20px;

        p {
            font-size: 1.6em;
        }
        .origin a {
            font-weight: bold;
            color: $botanic-green;
        }
    }
    .owl-dot.active {
        border: 2px solid $botanic-green;
    }
}

.press-module {
    margin: 30px 0 0 0 !important;
    padding: 30px 0 0 0 !important;
}

.product-photo-container {
    margin-top: 2em;
    margin-left: 0;
}

.product-section-title {
    font-size: 0.8em;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-section-content {
    margin-bottom: 25px;
}


.individual-juice-buy-notice {
    margin-top: 25px;
}

.product-retail-link {
    text-decoration: underline;
}


.juice-program-contents-left,
.juice-program-contents-right
 {
     width: 200px;
     float: left;
 }

.juice-program-title {
    font-weight: bold;
}

.juice-program .juice-qty {
    font-size: 0.8em;
    font-weight: normal;
    color: #aaa;
}

.item-product-description {
    background-color: rgb(235, 233, 234);
    padding: 20px !important;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.item-product-volume {
    font-style: italic;
    font-size: 0.95em;
    margin-top: 1em;
}

.item-product-title {
    h1 {
        text-transform: uppercase;
        font-weight: 300;
        text-align: left !important;
    }
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

.item-product-price {
    font-size: 1.4em;
}

.item-product-info {
    padding-left: 0 !important;
}

.product-ingredients-container {
    h2 {
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.85em;
    }
    .ingredient {
        font-weight: bold;
        font-size: 0.95em;
    }
    .product-ingredients__label {
        font-size: 0.85em;
        font-style: italic;
    }
        
}

.product-hero-ingredient {
    margin-top: 2em;

    .product-hero-ingredient__description {
        padding: 0em 2em;
    }
    .product-hero-ingredient__description--title {
        font-size: 26px;
        margin-top: 1em;
    }
    .product-hero-ingredient__description--subtitle {
        font-size: 20px;
        margin-top: 1em;
        font-style: italic;
    }
    .product-hero-ingredient__description--text {
        font-size: 16px;
        margin-top: 2em;
    }
}

.product-mixed-box__wrapper {
    list-style: none;
}
.product-mixed-box__link {

    background-color: $botanic-green;
    color: white;
    cursor: pointer;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */

    text-decoration: none;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;

    margin-right: 4px;
    margin-bottom: 10px !important;
    display: block;
    max-width: 250px;
    text-align: center;

    &:hover {
        background-color: darken($botanic-green, 10%);
        transition: all 0.2s linear;
        cursor: pointer;
        color: white;
    }
    &:visited {
        color: white;
    }

}

ul {
    margin-top: 11px;
}

.product-delivery {

    background-color: #eee;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    margin-top: 2em;

    .product-delivery-inner {
        padding: 2em 0;
    }

    .product-delivery__header {
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .product-delivery__text {
        font-size: 0.9em;
        margin-bottom: 1.5em;
    }
    .product-delivery__link:visited,
    .product-delivery__link {
        color: rgb(105, 105, 105);
        text-decoration: underline;
        font-weight: bold;
    }
    .product-delivery-icon {
        width: 80px;
        margin-right: 1em;
        margin-top: 1.5em;
    }
}

.spotlight-benefits {
    .benefit {
        border: 1px solid #666;
        padding: 7px 18px;
        font-size: 12px;
        border-radius: 2px;
        margin-right: 4px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
        list-style: none;
        display: inline-block;
    }
    ul {
        margin-top: 10px;
    }
}
