/*============================================================================
  Shopify Timber v1.4.0
  Copyright 2014 Shopify Inc.
  Author Carson Shold @cshold
  Built with Sass - http://sass-lang.com/

  Some things to know about this file:
    - Sass is compiled on Shopify's server so you don't need to convert it to CSS yourself
    - The output CSS is compressed and comments are removed
    - You cannot use @imports in this file
        * Use grunt or gulp tasks to enable @imports - https://github.com/Shopify/shopify-css-import
    - Helpers variables, mixins, and starter classes are provided. Change as needed.
    - The file is prepped with a CSS reset
==============================================================================*/

/*============================================================================
  Table of Contents

  #Breakpoint and Grid Variables
  #General Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Basic Styles
  #Helper Classes
  #Typography
  #Rich Text Editor
  #Links and Buttons
  #Lists
  #Tables
  #OOCSS Media Object
  #Images and Iframes
  #Forms
  #Icons
  #Pagination
  #Site Header
  #Site Nav and Dropdowns
  #Site Footer
  #Product Grid and List Views
  #Collection Filters
  #Breadcrumbs
  #Product Page
  #Blogs and Comments
  #Notes and Form Feedback
  #Cart Page
==============================================================================*/

/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

/*============================================================================
  #General Variables
==============================================================================*/

// Timber Colors

// Button colors
$colorBtnPrimary: {{ settings.color_button_primary }};
$colorBtnPrimaryText: {{ settings.color_button_primary_text }};
$colorBtnPrimaryHover: darken($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: darken($colorBtnPrimaryHover, 10%);

$colorBtnSecondary: {{ settings.color_button_secondary }};
$colorBtnSecondaryText: {{ settings.color_button_secondary_text }};
$colorBtnSecondaryHover: darken($colorBtnSecondary, 10%);
$colorBtnSecondaryActive: darken($colorBtnSecondaryHover, 10%);

// Text link colors
$colorLink: {{ settings.color_links }};
$colorLinkHover: lighten($colorLink, 15%);

// Prices
$colorPrice: {{ settings.color_price }};
$colorSalePrice: {{ settings.color_sale_price }};

// Headings
$colorHeading: {{ settings.color_heading }};
$colorSubHeading: {{ settings.color_sub_heading }};

// Headerings

// Text colors
$colorTextBody: {{ settings.color_body_text }};
$colorLinks: {{ settings.color_links }};

// Payment icons
$colorPaymentIcons: {{ settings.color_payment_icons }};

// Backgrounds
$colorBody: {{ settings.color_body_bg }};

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$colorNav: {{ settings.color_navigation_bg }};
$colorNavText: {{ settings.color_navigation_links }};

// Mobile Nav Bar
$mobileNavBarHeight: 58px;

// Site Footer
$colorFooterBg: $colorBody;
$colorFooterText: $colorTextBody;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #c14949;
$errorRedBg: lighten($errorRed, 55%);
$successGreen: #0a942a;

// Width variables
$siteWidth: 955px;
$gutter: 25px;
$gridGutter: 24px; // can be a %, but nested grids will have smaller margins because of it

// Radius
$radius: 3px;

/*================ Typography ================*/
{% if settings.type_base_family contains 'Google' %}
  {% assign type_base_parts = settings.type_base_family | split: '_' %}
  {% assign type_base_name = type_base_parts[1] %}
  {% capture base_family %}"{{ type_base_name | split: ':' | first | replace: '+', ' ' }}"{% if type_base_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
{% else %}
  {% assign base_family = settings.type_base_family %}
{% endif %}

{% if settings.type_header_family contains 'Google' %}
  {% assign type_header_parts = settings.type_header_family | split: '_' %}
  {% assign type_header_name = type_header_parts[1] %}
  {% capture header_family %}"{{ type_header_name | split: ':' | first | replace: '+', ' ' }}"{% if type_header_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
  {% assign header_weight = type_header_parts[2] %}
{% else %}
  {% assign header_family = settings.type_header_family %}
  {% assign header_weight = 700 %}
{% endif %}

{% if settings.type_accent_family contains 'Google' %}
  {% assign type_accent_parts = settings.type_accent_family | split: '_' %}
  {% assign type_accent_name = type_accent_parts[1] %}
  {% capture accent_family %}"{{ type_accent_name | split: ':' | first | replace: '+', ' ' }}"{% if type_accent_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
  {% assign accent_weight = type_accent_parts[2] %}
{% else %}
  {% assign accent_family = settings.type_accent_family %}
  {% assign accent_weight = 500 %}
{% endif %}

// Header Font
$headerFontStack: {{ header_family }};
/* $headerFontStack: "Open Sans"; */
$headerFontWeight: {{ header_weight }};
$headerFontSize: {{ settings.type_heading_size }};

// Body Font
$bodyFontStack: {{ base_family }};
/* $bodyFontStack: "Open Sans"; */
$baseFontSize: {{ settings.type_base_size }};

// Navigation and Button Font
$accentFontStack: {{ accent_family }};
/* $accentFontStack: "Open Sans"; */
$accentFontWeight: {{ accent_weight }};
$accentFontSize: {{ settings.type_navigation_size }};


// Icons
@font-face {
  font-family: 'icons';
  src: url('{{ "icons.eot" | asset_url }}');
  src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
       url('{{ "icons.woff" | asset_url }}') format("woff"),
       url('{{ "icons.ttf" | asset_url }}') format("truetype"),
       url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}
$socialIconFontStack: 'icons';


/*============================================================================
  #Sass Mixins
==============================================================================*/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($value) {
  @include prefix('transform', #{$value});
}

@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: -ms-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(top bottom, $from 0%, $to 100%);
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
}

@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: #{$box-sizing};
  -moz-box-sizing: #{$box-sizing};
  box-sizing: #{$box-sizing};
}

@function measure-color($color, $percentage) {
  $lightness: lightness($color);

  @if $lightness > 50% {
    @return darken($color, $percentage)
  } @else {
    @return lighten($color, $percentage * 2)
  }
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

@function color-control($color) {
  @if (lightness( $color ) > 40) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

/*============================================================================
  #Normalize
==============================================================================*/
*, input, :before, :after {
  @include box-sizing();
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*============================================================================
  #Grid Setup
    - Based on csswizardry grid, but with floated columns and a fixed gutter size
    - Breakpoints defined above, under #Breakpoint and Grid Variables
    - Note the inclusion of .grid-uniform to take care of clearfixes on evenly sized grid-items
==============================================================================*/
$responsive:         true;
$mobile-first:       true;
$use-silent-classes: false;
$push:               true;
$pull:               false;

/* Force clearfix on grids */
.grid,
.grid-uniform {
  @include clearfix;
}

/* Manual grid-item clearfix */
.grid-item.clear {
  clear: both;
}

$class-type: unquote(".");

@if $use-silent-classes == true {
  $class-type: unquote("%");
}

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false{
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}


/*============================================================================
  Drop relative positioning into silent classes which can't take advantage of
  the `[class*="push--"]` and `[class*="pull--"]` selectors.
==============================================================================*/
@mixin silent-relative() {
  @if $use-silent-classes == true{
    position:relative;
  }
}

/*============================================================================
  Grid Setup
    1. Allow the grid system to be used on lists.
    2. Remove any margins and paddings that might affect the grid system.
    3. Apply a negative `margin-left` to negate the columns' gutters.
==============================================================================*/
#{$class-type}grid,
#{$class-type}grid-uniform {
  list-style:none;
  margin:0;
  padding:0;
  margin-left:-$gridGutter;
}

#{$class-type}grid-item {
  float: left;
  min-height: 1px;
  padding-left:$gridGutter;
  vertical-align:top;
  @if $mobile-first == true {
    width:100%;
  }
  @include box-sizing();
}

/*============================================================================
  Reversed grids allow you to structure your source in the opposite
  order to how your rendered layout will appear.
==============================================================================*/
#{$class-type}grid--rev {
  @extend #{$class-type}grid;
  direction:rtl;
  text-align:left;

  > #{$class-type}grid-item {
    direction:ltr;
    text-align:left;
    float: right;
  }
}

/* Gutterless grids have all the properties of regular grids, minus any spacing. */
#{$class-type}grid--full {
  @extend #{$class-type}grid;
  margin-left:0;

  > #{$class-type}grid-item {
    padding-left:0;
  }
}

/*============================================================================
  WIDTHS
    - Create width classes, prefixed by the specified namespace.
==============================================================================*/
@mixin device-type($namespace:"") {
  /** Whole */
  #{$class-type}#{$namespace}one-whole       { width:100%; }

  /* Halves */
  #{$class-type}#{$namespace}one-half        { width:50%; }

  /* Thirds */
  #{$class-type}#{$namespace}one-third       { width:33.333%; }
  #{$class-type}#{$namespace}two-thirds      { width:66.666%; }

  /* Quarters */
  #{$class-type}#{$namespace}one-quarter     { width:25%; }
  #{$class-type}#{$namespace}two-quarters    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}three-quarters  { width:75%; }

  /* Fifths */
  #{$class-type}#{$namespace}one-fifth       { width:20%; }
  #{$class-type}#{$namespace}two-fifths      { width:40%; }
  #{$class-type}#{$namespace}three-fifths    { width:60%; }
  #{$class-type}#{$namespace}four-fifths     { width:80%; }

  /* Sixths */
  #{$class-type}#{$namespace}one-sixth       { width:16.666%; }
  #{$class-type}#{$namespace}two-sixths      { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}three-sixths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}four-sixths     { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}five-sixths     { width:83.333%; }

  /* Eighths */
  #{$class-type}#{$namespace}one-eighth      { width:12.5%; }
  #{$class-type}#{$namespace}two-eighths     { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}three-eighths   { width:37.5%; }
  #{$class-type}#{$namespace}four-eighths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}five-eighths    { width:62.5%; }
  #{$class-type}#{$namespace}six-eighths     { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}seven-eighths   { width:87.5%; }

  /* Tenths */
  #{$class-type}#{$namespace}one-tenth       { width:10%; }
  #{$class-type}#{$namespace}two-tenths      { @extend #{$class-type}#{$namespace}one-fifth; }
  #{$class-type}#{$namespace}three-tenths    { width:30%; }
  #{$class-type}#{$namespace}four-tenths     { @extend #{$class-type}#{$namespace}two-fifths; }
  #{$class-type}#{$namespace}five-tenths     { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}six-tenths      { @extend #{$class-type}#{$namespace}three-fifths; }
  #{$class-type}#{$namespace}seven-tenths    { width:70%; }
  #{$class-type}#{$namespace}eight-tenths    { @extend #{$class-type}#{$namespace}four-fifths; }
  #{$class-type}#{$namespace}nine-tenths     { width:90%; }

  /* Twelfths */
  #{$class-type}#{$namespace}one-twelfth     { width:8.333%; }
  #{$class-type}#{$namespace}two-twelfths    { @extend #{$class-type}#{$namespace}one-sixth; }
  #{$class-type}#{$namespace}three-twelfths  { @extend #{$class-type}#{$namespace}one-quarter; }
  #{$class-type}#{$namespace}four-twelfths   { @extend #{$class-type}#{$namespace}one-third; }
  #{$class-type}#{$namespace}five-twelfths   { width:41.666% }
  #{$class-type}#{$namespace}six-twelfths    { @extend #{$class-type}#{$namespace}one-half; }
  #{$class-type}#{$namespace}seven-twelfths  { width:58.333%; }
  #{$class-type}#{$namespace}eight-twelfths  { @extend #{$class-type}#{$namespace}two-thirds; }
  #{$class-type}#{$namespace}nine-twelfths   { @extend #{$class-type}#{$namespace}three-quarters; }
  #{$class-type}#{$namespace}ten-twelfths    { @extend #{$class-type}#{$namespace}five-sixths; }
  #{$class-type}#{$namespace}eleven-twelfths { width:91.666%; }
}

/*================ Clearfix helper on uniform grids ================*/
@mixin clearfix-helper($namespace:"") {
  .grid-uniform {
    #{$class-type}#{$namespace}one-half:nth-child(2n+1),
    #{$class-type}#{$namespace}one-third:nth-child(3n+1),
    #{$class-type}#{$namespace}one-quarter:nth-child(4n+1),
    #{$class-type}#{$namespace}one-fifth:nth-child(5n+1),
    #{$class-type}#{$namespace}one-sixth:nth-child(6n+1),
    #{$class-type}#{$namespace}two-sixths:nth-child(3n+1),
    #{$class-type}#{$namespace}three-sixths:nth-child(2n+1),
    #{$class-type}#{$namespace}two-eighths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-eighths:nth-child(2n+1),
    #{$class-type}#{$namespace}five-tenths:nth-child(2n+1),
    #{$class-type}#{$namespace}one-twelfth:nth-child(12n+1),
    #{$class-type}#{$namespace}two-twelfths:nth-child(6n+1),
    #{$class-type}#{$namespace}three-twelfths:nth-child(4n+1),
    #{$class-type}#{$namespace}four-twelfths:nth-child(3n+1),
    #{$class-type}#{$namespace}six-twelfths:nth-child(2n+1)    { clear:both; }
  }
}

/*============================================================================
  HELPERS
==============================================================================*/

/*================ Helper show/hide classes around our breakpoints ================*/
@mixin device-helper($namespace:"") {
  #{$class-type}#{$namespace}show        { display:block!important; }
  #{$class-type}#{$namespace}hide        { display:none!important; }

  #{$class-type}#{$namespace}text-left   { text-align:left!important; }
  #{$class-type}#{$namespace}text-right  { text-align:right!important; }
  #{$class-type}#{$namespace}text-center { text-align:center!important; }

  #{$class-type}#{$namespace}left        { float:left!important; }
  #{$class-type}#{$namespace}right       { float:right!important; }
}

/*================ Our regular, non-responsive width and helper classes ================*/
@include device-type();
@include device-helper();

/*================ Our responsive classes, if we have enabled them ================*/
@if $responsive == true {
  @each $name in $breakpoint-has-widths {
    @include grid-media-query($name) {
      @include device-type('#{$name}--');
      @include device-helper('#{$name}--');
      @include clearfix-helper('#{$name}--');
    }
  }
}

/*============================================================================
  PUSH
    - Push classes, to move grid items over to the right by certain amounts
==============================================================================*/
@mixin push-setup($namespace: "") {
  /* Whole */
  #{$class-type}push--#{$namespace}one-whole       { left:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}push--#{$namespace}one-half        { left:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}push--#{$namespace}one-third       { left:33.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-thirds      { left:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}push--#{$namespace}one-quarter     { left:25%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-quarters    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}three-quarters  { left:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}push--#{$namespace}one-fifth       { left:20%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-fifths      { left:40%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}three-fifths    { left:60%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-fifths     { left:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}push--#{$namespace}one-sixth       { left:16.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-sixths      { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}three-sixths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}four-sixths     { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}five-sixths     { left:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}push--#{$namespace}one-eighth      { left:12.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-eighths     { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}three-eighths   { left:37.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-eighths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}five-eighths    { left:62.5%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-eighths     { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}seven-eighths   { left:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}push--#{$namespace}one-tenth       { left:10%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-tenths      { @extend #{$class-type}push--#{$namespace}one-fifth; }
  #{$class-type}push--#{$namespace}three-tenths    { left:30%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}four-tenths     { @extend #{$class-type}push--#{$namespace}two-fifths; }
  #{$class-type}push--#{$namespace}five-tenths     { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}six-tenths      { @extend #{$class-type}push--#{$namespace}three-fifths; }
  #{$class-type}push--#{$namespace}seven-tenths    { left:70%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-tenths    { @extend #{$class-type}push--#{$namespace}four-fifths; }
  #{$class-type}push--#{$namespace}nine-tenths     { left:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}push--#{$namespace}one-twelfth     { left:8.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}two-twelfths    { @extend #{$class-type}push--#{$namespace}one-sixth; }
  #{$class-type}push--#{$namespace}three-twelfths  { @extend #{$class-type}push--#{$namespace}one-quarter; }
  #{$class-type}push--#{$namespace}four-twelfths   { @extend #{$class-type}push--#{$namespace}one-third; }
  #{$class-type}push--#{$namespace}five-twelfths   { left:41.666%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}six-twelfths    { @extend #{$class-type}push--#{$namespace}one-half; }
  #{$class-type}push--#{$namespace}seven-twelfths  { left:58.333%; @include silent-relative(); }
  #{$class-type}push--#{$namespace}eight-twelfths  { @extend #{$class-type}push--#{$namespace}two-thirds; }
  #{$class-type}push--#{$namespace}nine-twelfths   { @extend #{$class-type}push--#{$namespace}three-quarters; }
  #{$class-type}push--#{$namespace}ten-twelfths    { @extend #{$class-type}push--#{$namespace}five-sixths; }
  #{$class-type}push--#{$namespace}eleven-twelfths { left:91.666%; @include silent-relative(); }
}

@if $push == true {
  [class*="push--"]{ position:relative; }

  @include push-setup();

  @if $responsive == true {
    @each $name in $breakpoint-has-push {
      @include grid-media-query($name) {
        @include push-setup('#{$name}--');
      }
    }
  }
}

/*============================================================================
  PULL
    - Pull classes, to move grid items back to the left by certain amounts
==============================================================================*/
@mixin pull-setup($namespace: "") {
  /* Whole */
  #{$class-type}pull--#{$namespace}one-whole       { right:100%; @include silent-relative(); }

  /* Halves */
  #{$class-type}pull--#{$namespace}one-half        { right:50%; @include silent-relative(); }

  /* Thirds */
  #{$class-type}pull--#{$namespace}one-third       { right:33.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-thirds      { right:66.666%; @include silent-relative(); }

  /* Quarters */
  #{$class-type}pull--#{$namespace}one-quarter     { right:25%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-quarters    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}three-quarters  { right:75%; @include silent-relative(); }

  /* Fifths */
  #{$class-type}pull--#{$namespace}one-fifth       { right:20%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-fifths      { right:40%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}three-fifths    { right:60%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-fifths     { right:80%; @include silent-relative(); }

  /* Sixths */
  #{$class-type}pull--#{$namespace}one-sixth       { right:16.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-sixths      { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}three-sixths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}four-sixths     { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}five-sixths     { right:83.333%; @include silent-relative(); }

  /* Eighths */
  #{$class-type}pull--#{$namespace}one-eighth      { right:12.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-eighths     { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}three-eighths   { right:37.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-eighths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}five-eighths    { right:62.5%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-eighths     { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}seven-eighths   { right:87.5%; @include silent-relative(); }

  /* Tenths */
  #{$class-type}pull--#{$namespace}one-tenth       { right:10%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-tenths      { @extend #{$class-type}pull--#{$namespace}one-fifth; }
  #{$class-type}pull--#{$namespace}three-tenths    { right:30%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}four-tenths     { @extend #{$class-type}pull--#{$namespace}two-fifths; }
  #{$class-type}pull--#{$namespace}five-tenths     { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}six-tenths      { @extend #{$class-type}pull--#{$namespace}three-fifths; }
  #{$class-type}pull--#{$namespace}seven-tenths    { right:70%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-tenths    { @extend #{$class-type}pull--#{$namespace}four-fifths; }
  #{$class-type}pull--#{$namespace}nine-tenths     { right:90%; @include silent-relative(); }

  /* Twelfths */
  #{$class-type}pull--#{$namespace}one-twelfth     { right:8.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}two-twelfths    { @extend #{$class-type}pull--#{$namespace}one-sixth; }
  #{$class-type}pull--#{$namespace}three-twelfths  { @extend #{$class-type}pull--#{$namespace}one-quarter; }
  #{$class-type}pull--#{$namespace}four-twelfths   { @extend #{$class-type}pull--#{$namespace}one-third; }
  #{$class-type}pull--#{$namespace}five-twelfths   { right:41.666%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}six-twelfths    { @extend #{$class-type}pull--#{$namespace}one-half; }
  #{$class-type}pull--#{$namespace}seven-twelfths  { right:58.333%; @include silent-relative(); }
  #{$class-type}pull--#{$namespace}eight-twelfths  { @extend #{$class-type}pull--#{$namespace}two-thirds; }
  #{$class-type}pull--#{$namespace}nine-twelfths   { @extend #{$class-type}pull--#{$namespace}three-quarters; }
  #{$class-type}pull--#{$namespace}ten-twelfths    { @extend #{$class-type}pull--#{$namespace}five-sixths; }
  #{$class-type}pull--#{$namespace}eleven-twelfths { right:91.666%; @include silent-relative(); }
}

@if $pull == true {
  [class*="pull--"]{ position:relative; }

  @include pull-setup();

  @if $responsive == true{
    @each $name in $breakpoint-has-pull {
      @include grid-media-query($name) {
        @include pull-setup('#{$name}--');
      }
    }
  }
}

/*============================================================================
  #Basic Styles
==============================================================================*/
html, body {
  padding: 0;
  margin: 0;
}

html {
  background-color: $colorFooterBg;
}

body {
  background-color: $colorBody;
}

.wrapper {
  @include clearfix();
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 $gutter;
}

.main-content {
  display: block;
  margin-top: 80px;

  .attached-slider & {
    margin-top: 0;
  }
}

/*============================================================================
  #Helper Classes
==============================================================================*/
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.hidden { display: none; }

@include at-query ($min, $small) {
  .visible--small {
    display: none;
  }
}

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

@include at-query ($min, $large) {
  .large--display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .large--display-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}


/*============================================================================
  #Typography
==============================================================================*/
body,
input,
textarea,
button,
select {
  font-size: $baseFontSize;
  line-height: 1.6;
  font-family: $bodyFontStack;
  color: $colorTextBody;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFontStack;
  font-weight: $headerFontWeight;
  color: $colorHeading;
  margin: 0 0 0.5em;
  line-height: 1.4;

  {% if settings.type_heading_transform %}
    text-transform: uppercase;
  {% endif %}

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }
}

/*================ Use em() Sass function to declare font-size ================*/
h1 {
  font-size: em($headerFontSize);
}

h2 {
  font-size: em($headerFontSize / 1.32);
}

h3 {
  font-size: em($headerFontSize / 1.68);
}

h4 {
  font-size: em($headerFontSize / 1.85);
}

h5 {
  font-size: em($headerFontSize / 2.31);
}

h6 {
  font-size: em($headerFontSize / 2.64);
}



.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

p {
  margin: 0 0 ($gutter / 2) 0;

  img {
    margin: 0;
  }
}

em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sup, sub {
  position: relative;
  font-size: 80%;
  vertical-align: baseline;
}
sup {
  top: -0.2em;
}

sub {
  bottom: -0.2em;
}

/*================ Blockquotes ================*/
blockquote {
  font-size: em(23px);
  line-height: 1.45;
  margin: 0;
  padding: ($gutter / 2) 0;
  text-align: center;

  &:before,
  &:after {
    content: '';
    display: block;
    margin: 25px auto;
    width: 70%;
    border-top: 1px solid $colorBorder;
  }
  &:before {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
    color: $colorHeading;
    font-family: $headerFontStack;

    & + cite {
      margin-top: $gutter / 2;
    }
  }

  cite {
    display: block;
    font-size: 0.75em;

    &:before {
      content: "\2014 \0020";
    }
  }
}

/*================ Code ================*/
code, pre {
  background-color: #faf7f5;
  font-family: Consolas,monospace;
  font-size: 1em;
  border: 0 none;
  padding: 0 2px;
  color: #51ab62;
}

pre {
  overflow: auto;
  padding: $gutter / 2;
  margin: 0 0 $gutter;
}

/*================ Horizontal Rules ================*/
hr {
  clear: both;
  border-top: solid $colorBorder;
  border-width: 1px 0 0;
  margin: ($gutter * 2) 0;
  height: 0;

  &.hr--small {
    margin: ($gutter / 2) 0;
  }

  &.hr--clear {
    border-top-color: transparent;
  }

  &.hr--large {
    margin-top: $gutter*2;
  }

  &.hr--narrow {
    width: 70%;
    margin: ($gutter * 2) auto;
    max-width: 360px;
  }

  &.hr--header {
    margin: 0;
  }
}

/*================ Section Headers ================*/
.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header--sub {
  margin-top: 50px;
  margin-bottom: 0px;
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
  }

  .section-header--title {
    margin-bottom: $gutter / 2.5;
  }

  .section-header--left {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
      margin-bottom: 0;
    }
  }

  .section-header--right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 335px;

    @include at-query ($max, $medium) {
      margin-bottom: $gutter;
    }
  }
}

.section-header--right {
  .form-horizontal,
  .collection-view {
    display: inline-block;
    vertical-align: middle;
  }

  @include at-query ($min, $postSmall) {
    label + select,
    .collection-view {
      margin-left: $gutter / 2;
    }
  }
}

.collection-view {
  display: inline-block;
  border: 1px solid $colorBorder;
  border-radius: $radius;
  padding: 11px;
  height: 37px; // same as form elements

  /*================ We use SVG icons, so simply hide this in oldIE ================*/
  .lt-ie9 & {
    display: none;
  }

  /*================ Only show on larger screens ================*/
  @include at-query ($min, $large) {
    display: inline-block;
  }

  a {
    display: block;
    float: left;
    opacity: 0.7;
    cursor: pointer;

    & + a {
      margin-left: 10px;
    }

    &.collection-view--active {
      opacity: 1;
      cursor: default;
    }
  }

  img {
    display: block;
    opacity: inherit;
  }
}

/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: $gutter / 2;

  > div {
    margin-bottom: $gutter / 2;
  }

  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: em(14px);
    color: $colorSubHeading;
    margin-bottom: -3em;
    margin-top: 3em;
    letter-spacing: 2px;
  }

  h2 {
    margin-top: 70px;
    margin-bottom: 35px;
  }

  h3 {
    margin-bottom: 35px;
  }


  ul {
    @extend ul.disc;
  }

  ul,
  ol {
    margin-left: 55px;
  }

  li {
    margin-bottom: 0.4em;
  }

  p {
    margin-bottom: 25px;
  }

  blockquote {
    p {
      margin: 0 -25px;
    }
  }

  .feature-homepage-content & {
    margin-bottom: 50px;
  }

  /*================ Small Breakpoint ================*/
  @include at-query ($max, $small) {
    blockquote {
      p {
        margin: 0;
      }
    }
  }

  /*================ Medium and Up Breakpoint ================*/
  @include at-query ($min, $small) {
    table {
      width: 110%;
      margin-left: -25px;
    }

    td:first-child,
    th:first-child {
      padding-left: 23px;
    }

    img {
      &:not([style]) {
        max-width: 110%;
        margin: 0 -25px;
      }

      &[style="float: right;"] {
        margin: 0 -30px 30px 30px;
      }

      &[style="float: left;"] {
        margin: 0 30px 30px -30px;
      }
    }
  }
}

.rte--header {
  margin: 25px 0;
}

/*============================================================================
  #Links and Buttons
==============================================================================*/
a {
  color: $colorLink;
  text-decoration: none;
  background: transparent;
}

a:hover,
a:focus {
  color: $colorLinkHover;
}

button {
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  font-family: $accentFontStack;
  font-size: $accentFontSize;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  @include prefix('user-select', 'none');
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: $radius;
  @include transition(background-color 0.2s ease-out);

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}

  &.btn--small {
    padding: 4px 5px;
    font-size: $accentFontSize;
  }

  &.btn--full {
    width: 100%;
  }

  /*================ Set primary button colors - can override later ================*/
  background-color: $colorBtnPrimary;
  color: $colorBtnPrimaryText;

  &:hover {
    background-color: $colorBtnPrimaryHover;
    color: $colorBtnPrimaryText;
    @include transition(background-color 0.05s ease-in);
  }

  &:active,
  &:focus {
   background-color: $colorBtnPrimaryActive;
   color: $colorBtnPrimaryText;
  }

  &[disabled],
  &.disabled {
    cursor: default;
    color: $disabledBorder;
    background-color: $disabledGrey;
  }
}

.btn-link {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.btn-secondary,
input.btn-secondary {
  @extend .btn;
  background-color: $colorBtnSecondary;
  color: $colorBtnSecondaryText;

  &:hover {
    background-color: $colorBtnSecondaryHover;
    color: $colorBtnSecondaryText;
  }

  &:active,
  &:focus {
   background-color: $colorBtnSecondaryActive;
   color: $colorBtnSecondaryText;
  }
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0 0 $gutter;
  padding: 0;
}

ul { list-style: none outside; }
ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 20px; }
li { margin-bottom: 0.25em; }

ol, ul.square, ul.disc { margin-left: 50px; }
ul.square { list-style: square outside; }
ul.disc { list-style: disc outside; }
ol.alpha { list-style: lower-alpha outside; }

.inline-list li {
  display: inline-block;
  margin-bottom: 0;
}

/*============================================================================
  #Tables
==============================================================================*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 25px 0;
}

table.full {
  width: 100%;
  margin-bottom: 1em;
}

th,
.table-header {
  color: $colorHeading;
  font-family: $accentFontStack;
  font-weight: $accentFontWeight;
  font-size: $accentFontSize;
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

th, td {
  text-align: left;
  padding: $gutter / 2;
  border: 1px solid $colorBorder;
}


/*============================================================================
  #OOCSS Media Object
  - http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
==============================================================================*/
.media,
.media-flex {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-img {
  float: left;
  margin-right: $gutter;
}

.media-img-right {
  float: right;
  margin-left: $gutter;
}

.media-img img,
.media-img-right img {
  display: block;
}


/*============================================================================
  #Images and Iframes
==============================================================================*/
img {
  border: 0 none;
}

svg:not(:root) {
  overflow: hidden;
}

img.auto,
.grid-item img,
.grid-item iframe {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*============================================================================
  #Forms
==============================================================================*/
form {
  margin-bottom: $gutter;
}

input,
textarea,
button,
select {
  font-size: 1em;
}

button,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea,
select,
fieldset {
  border-radius: $radius;
  max-width: 100%;

  &.input-full {
    width: 100%;
  }
}

input,
select,
textarea {
  padding: 9px 12px;
  line-height: 1.42;
}

fieldset {
  border: 1px solid $colorBorder;
  padding: $gutter / 2;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: bold;
}

input {
  display: inline-block;
  width: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"] {
  @extend .btn;
}

/*================ Input width and border ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: 1px solid $colorBorder;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 0 2.4em;
  background-color: transparent;
  @include transition(border-color 0.2s ease-out);

  &:focus,
  &:hover {
    border: 1px solid measure-color($colorBorder, 15%);
    @include transition(border-color 0.05s ease-in);
  }

  &[disabled],
  &.disabled {
    cursor: default;
    background-color: $disabledGrey;
    border-color: $disabledBorder;
  }
}

textarea {
  min-height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right center;
  background: {
    image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNy43cHgiIGhlaWdodD0iNC4zcHgiIHZpZXdCb3g9IjAgMCA3LjcgNC4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3LjcgNC4zIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik03LjEsMC4xQzYuNywwLjUsMy45LDMuMiwzLjksMy4yUzEsMC41LDAuNiwwLjFTMCwwLjcsMCwwLjdsMy45LDMuNmwzLjgtMy42QzcuNywwLjcsNy41LTAuMyw3LjEsMC4xeiIvPg0KPC9zdmc+DQo="); // svg base64 encoded arrow
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 and below ================*/
  .ie9 &,
  .lt-ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
    display: none;
}

/*================ Form labels ================*/
label,
legend,
.label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: $headerFontStack;
  color: $colorHeading;

  &.inline {
    display: inline;
  }

  .form-horizontal &.hidden-label,
  &.hidden-label {
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;

    .ie9 &,
    .lt-ie9 & {
      height: auto;
      margin-bottom: 2px;
      overflow: visible;
    }
  }
}

/*================ We don't want the same label treatment for checkboxes/radios ================*/
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

label[for] {
  cursor: pointer;
}

.label-hint {
  color: #999;
}

/*================ Horizontal Form ================*/
form.form-horizontal,
.form-horizontal {
  margin-bottom: 0;

  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select,
  label {
    display: inline-block;
    margin-bottom: 0;
    width: auto;
  }
}

/*================ Error styles ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea {
  &.error {
    border-color: $errorRed;
    background-color: $errorRedBg;
    color: $errorRed;
  }
}

label.error {
  color: $errorRed;
}


/*================ Input Group ================*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  .input-group-field:first-child,
  .input-group-btn:first-child,
  .input-group-btn:first-child > .btn,
  input[type="hidden"]:first-child + .input-group-field,
  input[type="hidden"]:first-child + .input-group-btn > .btn {
    border-radius: $radius 0 0 $radius;
  }

  .input-group-field:last-child,
  .input-group-btn:last-child > .btn {
   border-radius: 0 $radius $radius 0;
  }

  input {
    // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }
}

.input-group-field,
.input-group-btn {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .btn,
.input-group .input-group-field {
  height: 37px;
}

.input-group .input-group-field {
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;

  .btn {
    padding: 8px 10px;
  }
}

.form-spacer {
  margin: 0 ($gutter / 2);
}

/*============================================================================
  #Icons
==============================================================================*/
.icon-fallback-text .icon {
  display: none;

  .supports-fontface & {
    display: inline-block;
  }
}

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.supports-fontface .icon-fallback-text .fallback-text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon:before {
  display: none;
}

.supports-fontface .icon:before {
  display: inline;
  font-family: $socialIconFontStack;
  text-decoration: none;
  speak: none; // future fallback, limited in effect currently
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*================ Icon mapping ================*/
.icon-american_express:before { content: "\41"; }
.icon-arrow-down:before { content: "\61"; }
.icon-arrow-left:before { content: "\65"; }
.icon-arrow-long-left:before { content: "\e601"; }
.icon-arrow-long-right:before { content: "\e602"; }
.icon-arrow-right:before { content: "\62"; }
.icon-bitcoin:before { content: "\42"; }
.icon-cart:before { content: "\e603"; }
.icon-check:before { content: "\e604"; }
.icon-cirrus:before { content: "\43"; }
.icon-diners_club:before { content: "\63"; }
.icon-discover:before { content: "\44"; }
.icon-dk:before { content: "\64"; }
.icon-error:before { content: "\e608"; }
.icon-facebook:before { content: "\66"; }
.icon-fancy:before { content: "\46"; }
.icon-google:before { content: "\67"; }
.icon-google_wallet:before { content: "\47"; }
.icon-instagram:before { content: "\69"; }
.icon-interac:before { content: "\49"; }
.icon-jcb:before { content: "\4a"; }
.icon-maestro:before { content: "\6d"; }
.icon-master:before { content: "\4d"; }
.icon-menu:before { content: "\e609"; }
.icon-note:before { content: "\e605"; }
.icon-paypal:before { content: "\50"; }
.icon-pinterest:before { content: "\70"; }
.icon-rss:before { content: "\e600"; }
.icon-search:before { content: "\73"; }
.icon-stripe:before { content: "\53"; }
.icon-tumblr:before { content: "\74"; }
.icon-twitter:before { content: "\54"; }
.icon-user:before { content: "\e606"; }
.icon-vimeo:before { content: "\76"; }
.icon-visa:before { content: "\56"; }
.icon-warning:before { content: "\e607"; }
.icon-error:before { content: "\e608"; }
.icon-x:before { content: "\78"; }
.icon-youtube:before { content: "\79"; }

.payment-icons {
  @include prefix('user-select', 'none');
  cursor: default;

  li {
    margin: 0 ($gutter / 4) ($gutter / 4);
    color: {{ settings.color_payment_icons }};
    cursor: default;
  }

  .icon {
    font-size: 30px;
    line-height: 30px;
  }

  .fallback-text {
    text-transform: capitalize;
  }
}

.social-icons li {
  margin: 0 10px 12px;
  vertical-align: middle;

  @include at-query ($min, $postSmall) {
    margin-left: 0;
  }

  .icon {
    font-size: 30px;
    line-height: 26px;
  }

  a {
    color: $colorBtnPrimary;
    @include transition(color 0.2s ease-out);

    &:hover {
      color: $colorBtnPrimaryHover;
      @include transition(color 0.05s ease-in);
    }
  }
}

/*================ Social share buttons ================*/
$shareButtonHeight: 22px;
$shareButtonCleanHeight: 30px;
$shareCountBg: #fff;
$shareBorderColor: $colorBorder;

.item-social-sharing {
  padding-top: 30px;
}

.social-sharing {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: ($gutter / 2);

  a {
    display: inline-block;
    color: $colorTextBody;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    line-height: $shareButtonHeight;
    text-decoration: none;
    border: 1px $colorBorder solid;

    &:hover,
    &:focus {
      color: darken($colorTextBody, 10%);
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    height: $shareButtonHeight;
    line-height: $shareButtonHeight;
  }

  .icon {
    padding: 0 5px 0 10px;

    &:before {
      line-height: $shareButtonHeight;
    }
  }

  /*================ Social Share Icon Colors ================*/
  .icon-facebook {
    color: #3b5998;

    &:hover {
      color: darken(#3b5998, 10%);
    }
  }

  .icon-twitter {
    color: #00aced;

    &:hover {
      color: darken(#00aced, 10%);
    }
  }

  .icon-pinterest {
    color: #cb2027;

    &:hover {
      color: darken(#cb2027, 10%);
    }
  }

  .icon-fancy {
    color: #4999dc;

    &:hover {
      color: darken(#4999dc, 10%);
    }
  }

  .icon-google {
    color: #dd4b39;

    &:hover {
      color: darken(#dd4b39, 10%);
    }
  }
}

.share-title {
  font-weight: 300;
  font-size: em(12px);
  padding-right: 10px;
}

.share-product {
  border: 1px solid $colorBorder;
  border-radius: 3px;
}

.share-count {
  position: relative;
  padding: 0 8px;
  margin-right: -2px;
  font-size: em(14px);
  line-height: $shareButtonHeight - 2;
  color: $colorTextBody;
  border-left: 1px solid $shareBorderColor;
  border-radius: 0 2px 2px 0;
  opacity: 0;
  @include transition(opacity 0.2s ease-in);

  &.is-loaded {
    opacity: 1;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid;
  }

  &:before {
    left: -6px;
    border-right-color: $shareBorderColor;
  }

  &:after {
    left: -5px;
    border-right-color: $shareCountBg;
  }

  a:hover &,
  a:focus & {
    background-color: darken($shareCountBg, 4%);

    &:after {
      border-right-color: darken($shareCountBg, 4%);
    }
  }
}

/*============================================================================
  #Pagination
==============================================================================*/
.pagination {
  margin-bottom: 1em;
}

/*================ Custom Pagination ================*/
.pagination-custom {
  display: inline-block;
  padding-left: 0;
  margin: 50px 0 $gutter;
  border-radius: $radius;
  &.pagination-custom--blog {
    margin-top: 20px;
  }
}

.pagination-custom > li {
  display: inline;
}

.pagination-custom > li > a,
.pagination-custom > li > span {
  font-family: $accentFontStack;
  font-weight: 700;
  color: $colorTextBody;
  font-size: em(13px);
  position: relative;
  float: left;
  margin: 5px 25px 0 0;
  line-height: 1.42;
  text-decoration: none;
}

.pagination-custom > li:first-child,
.pagination-custom > li:last-child {
  > span,
  > a {
    padding: 0px;
    margin-top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: $colorBtnPrimary;
    color: $colorBtnPrimaryText;
    border: 1px solid transparent;
    @include transition(background-color 0.2s ease-out);

    &:hover {
      background-color: $colorBtnPrimaryHover;
      @include transition(background-color 0.05s ease-in);
    }
  }

  .icon {
    padding-top: 2px;
  }

  &.disabled > span,
  &.disabled > a {
    background-color: transparent;
    border: 1px solid $colorBtnSecondary;
    color: $colorBtnSecondary;
  }
}

.pagination-custom > li:last-child {
  > span,
  > a {
    margin-right: 0;
  }
}

.pagination-custom > li > a:hover,
.pagination-custom > li > span:hover,
.pagination-custom > li > a:focus,
.pagination-custom > li > span:focus {
  // hover color
}

.pagination-custom > .active > a,
.pagination-custom > .active > span,
.pagination-custom > .active > a:hover,
.pagination-custom > .active > span:hover,
.pagination-custom > .active > a:focus,
.pagination-custom > .active > span:focus {
  z-index: 2;
  cursor: default;
  color: $colorSubHeading;
}

.pagination-custom > .disabled > span,
.pagination-custom > .disabled > a,
.pagination-custom > .disabled > a:hover,
.pagination-custom > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
}

.pagination-custom-sm > li > a,
.pagination-custom-sm > li > span {
  padding: 5px 10px;
  font-size: em(12px);
}


/*============================================================================
  #Site Header
==============================================================================*/
.site-header {
  padding: ($gutter / 2) 0;
  color: $colorHeading;

  a,
  .btn-link {
    font-family: $accentFontStack;
    text-decoration: none;
    color: $colorHeading;
    font-size: $accentFontSize;

    {% if settings.type_navigation_transform %}
      text-transform: uppercase;
    {% endif %}

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  .grid-item {
    padding-left: 0px;
  }

  .wrapper {
    padding: 0 20px;

    @include at-query ($max, $small) {
      margin: 0 auto;
    }
  }
}

.header-logo {
  text-align: center;
  margin: 0 auto ($gutter / 2);
  max-width: {{ settings.logo_max_width }}px;

  @include at-query ($min, $large) {
    margin-bottom: 0;
  }

  a {
    font-size: $headerFontSize;
    font-family: $headerFontStack;
    font-weight: $headerFontWeight;
    {% if settings.type_header_transform %}
      text-transform: uppercase;
    {% else %}
      text-transform: none;
    {% endif %}
  }

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  a,
  img {
    display: block;
  }

  img {
    margin: 0 auto;
  }
}

.site-header--text-links {
  margin-bottom: 0;
}

.header-cart-wrapper {
  text-align: right;
}

.cart-icon-wrapper {
  position: relative;
  margin-right: 7px;
}


.cart-count {
  background-color: $colorBtnPrimary;
  color: $colorBtnPrimaryText;
  width: 16px;
  height: 16px;
  font-size: em(10px);
  text-align: center;
  border-radius: 8px;
  position: absolute;
  left: 9px;
  top: -10px;
  line-height: 16px;

  &.hidden-count {
    display: none;
  }
}

.header-login-wrapper {
  .icon {
    padding-left: 5px;
    color: $colorHeading;
    font-size: $accentFontSize;
  }
}

/*================ Small-Up Site Header ================*/
@include at-query ($min, $small) {
  .site-header {
    padding: $gutter 0;

    .grid {
      display: table;
      table-layout: fixed;
      width: 100%;

      & > .grid-item {
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

/*================ Small Site Header ================*/
@include at-query ($max, $small) {
  .site-header {
    position: relative;
    padding-top: 0;

    hr {
      margin: 0;
    }

    .wrapper {
      padding: 0px;
    }

    .mobile-nav-bar__link {
      font-size: em(15px);
    }

    .mobile-nav__item {
      border-top: 5px solid $colorBtnPrimary;
      padding: 12px 17px;
    }

    .icon-cart,
    .icon-menu {
      position: relative;
      top: 1px;
      font-size: em(17px);
      margin: 0 3px;
    }
  }

  .cart-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    left: 17px;
    line-height: 20px;
  }

  .mobile-nav--sticky {
    overflow: hidden;
    padding: 0;

    &.sticky,
    &.unsticky {
      background: $colorBody;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

      & ~ .header-logo-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 12px;
      }
    }

    &.sticky {
      height: $mobileNavBarHeight;
      @include prefix(transform, translate3d(0px, 0, 0));
      @include transition(all 0.3s ease);
    }

    &.unsticky {
      height: 0;
      @include prefix(transform, translate3d(0px, -$mobileNavBarHeight, 0));
      @include transition(all 0.3s ease);
    }

  }
}

.search-bar {
  max-width: 50%;
  min-width: 250px;
  margin: 0 auto;
}

/*============================================================================
  #Site Nav and Dropdowns
==============================================================================*/
.nav-bar {
  top: 110%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $colorNav;
  font-family: $accentFontStack;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}

  a {
    color: $colorNavText;
  }

  li {
    margin: 0;
  }
}

.site-nav {
  margin: 0;
  font-size: $accentFontSize;
  cursor: default;
  text-align: center;

  li {
    margin: 0;
    display: block;
  }

  & > li {
    position: relative;
    display: inline-block;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0 16px;
    line-height: 53px;
    white-space: nowrap;
  }

  .customer-navlink {
    color: $colorNavText;
    background-color: lighten($colorNav, 15%);
    border-bottom: 0;
    border-top: 1px solid lighten($colorNav, 5%);
    margin-top: -1px;
  }
}

/*================ Small screen nav styles ================*/
@include at-query ($max, $small) {
  .nav-bar {
    background-color: #333;
    margin: 0 auto;
    position: fixed;
    z-index: 2000;
    @include transition(all 600ms cubic-bezier(0.47, 0.5, 0, 0.95));

    .show-nav & {
      bottom: 0;
      top: $mobileNavBarHeight;
      max-height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      @include transition(all 450ms cubic-bezier(0.47, 0, 0, 0.95));
    }

    .wrapper {
      padding: ($gutter / 2) 0 0;
    }

    .search-bar {
      margin: 0 ($gutter / 2) ($gutter / 2);
      width: auto;
    }

  }

  /*================ Menu items ================*/
  .site-nav {
    padding: 15px 0;
    text-align: left;

    a {
      padding: 0 20px;
      color: #fff;
    }

    & li {
      display: block;
      -webkit-tap-highlight-color: rgba(255,255,255,0.2);
    }

    .customer-navlink {
      border-top: none;
      background-color: #333;
      color: lighten(#333, 15%);

      a {
        color: #bbb;
      }
    }
  }
}

/*================ Medium screen size only ================*/
@include at-query (null, $postSmall, $medium) {
  .nav-bar {
    .show-nav & {
      top: $mobileNavBarHeight;
      bottom: 0;
    }
  }
}

/*================ Large screen bar navigation ================*/
@include at-query ($min, $large) {
  .nav-bar {
    margin: 0 auto;
    border-radius: 3px;

    .attached-slider & {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .site-nav {
    text-align: center;
    white-space: nowrap;
    margin-left: -$gutter / 2;

    & > li {
      position: relative;
      display: inline-block;
    }

    a {
      white-space: nowrap;
    }
  }
}

/*================ Dropdowns ================*/
.site-nav--dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  margin: -5px 0 0;
  z-index: 5;
  background-color: $colorBody;
  border: 1px solid $colorBorder;
  border-radius: $radius;
  @include transition(opacity 0.3s ease-in-out);

  li:hover {
    background-color: darken($colorBody, 15%);
  }

  li:first-child {
    padding-top: 13px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      right: 46%;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    &:before {
      top: -8px;
      border-bottom: 8px solid $colorBorder;

    }

    &:after {
      top: -7px;
      border-bottom: 8px solid $colorBody;
    }

    &:hover {
      &:after {
        border-bottom: 8px solid darken($colorBody, 15%);
      }
    }
  }

  li:last-child {
    padding-bottom: 13px;
  }

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    visibility: visible;
    opacity: 1;
  }

  a {
    color: $colorTextBody;
    line-height: 1;
    padding: 13px 35px;
  }

  .js-more-menu & {
    left: auto;
    right: 0;

    li:first-child:before,
    li:first-child:after {
      right: 15px;
    }
  }
}

//prevents nested dropdowns in the menu bar
.site-nav--dropdown {
  .site-nav--has-dropdown .site-nav--dropdown {
    display: none;

    .supports-no-touch .site-nav--has-dropdown:hover &,
    .site-nav--has-dropdown.nav-hover &,
    .nav-focus + & {
      display: none;
    }
  }
}

/*================ Search bar in header ================*/
.nav-search {
  position: relative;
  padding: 7px 0;

  @include at-query ($max, $medium) {
    padding: 0 0 ($gutter / 2);
    margin: 0 auto;
    text-align: center;
  }

  .input-group,
  .input-group-field {
    margin-bottom: 0;
  }
}


/*============================================================================
  #Site Footer
==============================================================================*/
.site-footer {
  padding-bottom: $gutter;
  color: $colorFooterText;

  .footer-heading {
    color: $colorHeading;
    font-family: $accentFontStack;
    font-size: $accentFontSize;
    margin-bottom: 20px;

    {% if settings.type_navigation_transform %}
      text-transform: uppercase;
    {% else %}
      text-transform: none;
    {% endif %}
  }
  .wrapper-footer-body {
    p,
    ul,
    .custom-content {
        font-size: em(14px);
    }
  }
  .wrapper-footer-legal {
    hr {
      margin-bottom: 30px;
    }
  }

  form {
    margin-bottom: 0px;
  }

  .footer-quick-links {
    a {
      text-decoration: none;
      color: $colorTextBody;
    }

    &:hover,
    &:focus {
      opacity: 90%;
    }
  }

  .social-icons {
    padding-top: 2px;
  }

  .form-newsletter-signup {
    .icon-check {
      font-size: 8px;
    }

    .input-group-btn {
      vertical-align: bottom;
    }

    .input-group-field {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    label {
      font-family: $bodyFontStack;
      font-weight: normal;
      color: $colorTextBody;
      font-size: em(14px);
    }
  }

  /*================ Large Breakpoint ONLY ================*/
  @include at-query ($min, $large) {
    padding-bottom: $gutter * 2;
  }

  /*================ Small & Medium Breakpoint ================*/
  @include at-query ($max, $medium) {
    text-align: center;

    .form-newsletter-signup {
      max-width: 250px;
      margin: 0 auto;
    }

    .custom-content {
      margin-bottom: 24px;
    }
  }
}


/*============================================================================
  #Legal & Payment Types
==============================================================================*/

.payment-icons {
  text-align: right;

  /*================ Small & Mediume Breakpoint ================*/
  @include at-query ($max, $medium) {
    text-align: center;
  }
}

.wrapper-legal {
  a {
    color: $colorFooterText;
    text-decoration: none;
  }

  small {
    font-size: em(13px);
    display: inline-block;
  }
}

/*============================================================================
  #Product Grid and List Views
==============================================================================*/
.fluid-grid-item {
  display: inline-block;
  text-decoration: none;
  margin: 25px 0;
  width: 32%;
  vertical-align: top;

  @include at-query($max, $small) {
    width: 49%;
  }

  img {
    max-width: 100%;
  }
}

.product-item {
  position: relative;
  text-align: center;
}

.product-item__sold-out {
  text-align: center;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  opacity: 1;

  .sold-out-text {
    font-family: $accentFontStack;
    font-size: em(13px);
    border-radius: 3px;
    text-transform: uppercase;
    background: $colorHeading;
    color: $colorBody;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
  }
}

.product-item__on-sale {
  font-family: $accentFontStack;
  font-size: em(13px);
  border-radius: 3px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: default;
  padding: 2px 10px;
  background-color: $colorBtnPrimary;
  color: $colorBtnPrimaryText;
  z-index: 1;
}

.product-item__vendor {
  font-family: $headerFontStack;
  color: $colorSubHeading;
  font-size: em(12px);
  letter-spacing: 2px;
  margin-bottom: 4px;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.product-item__name {
  margin-bottom: 0;
  padding: 0 8%;

  a {
    font-family: $headerFontStack;
    font-size: em(17px);
    color: $colorHeading;
  }
}

.product-item__price {
  color: $colorPrice;
  font-size: em(16px);
  margin-bottom: 0;
}

.product-item__price--old {
  color: $colorSalePrice;
  text-decoration: line-through;
  padding-right: 10px;
}

.product-item__price--from {
  font-style: italic;
  padding-right: 5px;
}

/*============================================================================
  #Grid Images
==============================================================================*/

.grid-image {
  display: table;
  table-layout: fixed;
  margin: 0 auto ($gutter / 2);
  position: relative;
  padding: 0 8%;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
    opacity: 1;
    @include transition(opacity 0.3s ease-out);
    @include backface();

    &:hover {
      opacity: 0.9;
      @include transition(opacity 0.05s ease-out);
    }
  }

  .is-sold-out & {
    img {
      opacity: 0.5;
      position: relative;

      &:hover {
        opacity: 0.6;
        @include transition(opacity 0.05s ease-out);
      }
    }
  }
}

.grid-image--centered {
  display: table-cell;
  vertical-align: middle;
}

/*============================================================================
  #Collection Filters
==============================================================================*/
.active-filter {
  font-weight: bold;
}

/*============================================================================
  #Breadcrumbs
==============================================================================*/
.breadcrumb {
  margin-bottom: $gutter;

  a,
  span {
    display: inline-block;
    padding: ($gutter / 2) 7px ($gutter / 2) 0;
    margin-right: 7px;

    &:first-child {
      padding-left: 0;
    }
  }
}


/*============================================================================
  #Product Page
==============================================================================*/
.product-variants {
  display: none;

  .no-js & {
    display: block;
  }
}

@include at-query($min, $large) {
  .selector-wrapper,
  .product-variants {
    select {
      max-width: 40%;
    }
  }
}

.selector-wrapper {
  padding-right: 25px;
}


/*================ Product Title ================*/

.item-product-title {
  padding: 0 0 40px 24px;

  h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    font-family: $bodyFontStack;
  }

  h2,
  .h2 {
    font-family: $accentFontStack;
    font-size: $accentFontSize;
    color: $colorSubHeading;

    {% if settings.type_navigation_transform %}
      text-transform: uppercase;
    {% endif %}
  }

  .collection-title {
    font-family: $headerFontStack;
    color: $colorSubHeading;
    font-size: em(14px);
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: inline-block;

    &:hover,
    &:active,
    &:focus {
      color: $colorHeading;
    }

    {% if settings.type_navigation_transform %}
      text-transform: uppercase;
    {% endif %}
  }
}

/*================ Product Description ================*/

.item-product-description {
  margin-bottom: 0;

  ul,
  ol {
    margin-left: 0;
    list-style-position: inside;
  }
}


/*================ Product Images ================*/

  @include at-query($max, $small) {
    .item-product-photo {
      //overrides push class on larger breakpoints
      left: 0;
    }
  }

  @include at-query($max, $small) {
    .item-product-thumbnails {
      //overrides push class on larger breakpoints
      left: 0;
    }

    .product-photo-thumbs {
      text-align: center;

      li {
        padding-right: 10px;
        display: inline-block;
      }
    }
  }

.product-photo-container {
  margin-bottom: $gutter;
}

.product-photo-container,
.product-photo-thumbs {
  img {
    display: block;
    margin: 0 auto;
  }

  li {
    margin-bottom: $gutter;
  }
}

.product-photo-thumb {
  opacity: 0.4;
  max-width: 70px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  @include transition(opacity 0.2s ease-out);
  @include backface();

  img {
    max-width: 60px;
  }

  &:hover {
    opacity: 0.8;
    @include transition(opacity 0.05s ease-in);
  }

  &.active,
  &:active {
    opacity: 1;
    @include transition(opacity 0.05s ease-in);
  }
}

/*================ Add To Cart Form ================*/

.form-add-to-cart {
  text-align: center;

  & > div {
    display: inline-block;
    margin-top: 15px;
  }

  @include at-query($max, $large) {
    .selector-wrapper {
      display: block;
    }
  }

  @include at-query($max, $small) {
    & > div {
      display: block;
    }
  }

  .js-qty {
    display: inline-block;
  }

  .single-option-selector {
    // maintains a constant width on variant selects
    // not actually a magic number. promise.
    min-width: 155px;
    max-width: 205px;
  }

  .price-container {
    @include at-query($min, $small) {
      margin-right: 25px;
      margin-left: 40px;
    }

    .compare-price {
      display: inline-block;
      color: $colorSalePrice;
      text-decoration: line-through;
      font-size: em(20px);
      margin-right: 10px;
    }
  }

  .product-price {
    color: $colorHeading;
    font-family: $headerFontStack;
    font-size: em(26px);
    display: inline-block;
  }

  label {
    padding: 0 20px 0 10px;
  }

  .form-item-container {
    font-family: $headerFontStack;
  }
}

.add-to-cart-container {
  position: relative;
}

.btn-add-to-cart {
  font-family: $accentFontStack;
  margin-top: -2px;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}

  .out-of-stock-icon-wrapper {
    display: none;
  }

  &.disabled {
    background-color: $errorRed;
    color: #fff;

    .out-of-stock-icon-wrapper {
      display: inline-block;
      position: relative;
    }

    .icon-error {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      line-height: 10px;
      font-size: em(15px);
      margin-right: 5px;
      margin-left: -2px;
    }
  }
}

.qty-container {
  input[type="number"] {
    max-width: 60px;
    text-align: center;
    margin: 0 auto;
  }
}

.low-stock-container {
  position: absolute;
  font-family: $headerFontStack;
  color: $errorRed;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: em(12px);

  img {
    margin-bottom: -2px;
  }
}

/*============================================================================
  #Carousel Pagination
==============================================================================*/
.owl-dots {
  text-align: center;
}

.owl-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $colorBorder;
  margin: 7px;

  &.active {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: 2px solid $colorBtnPrimary;
    border-radius: 5px;
    margin-bottom: 6px;
  }
}

/*============================================================================
  #Related Product Carousel
==============================================================================*/

.carousel {
  position: relative;
  margin: 0 -12px;

  .owl-nav {
    width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
  }

  &:hover {
    .carousel__nav-control {
      opacity: 0.5;
      @include transition(opacity 0.05s ease-in);
    }
  }

  .owl-carousel {
    display: block;

    .owl-item {
      -webkit-backface-visibility: visible;
    }
  }

  @include at-query($min, $small) {
    padding: 0 120px;
    margin: 0;
  }

  @include at-query ($max, $small) {
    margin: 0 (-$gutter);

    .owl-item {
      opacity: 0.6;

      .product-item__name,
      .product-item__price {
        visibility: hidden;
      }

      &.active {
        opacity: 1;

        .product-item__name,
        .product-item__price {
          visibility: visible;
        }
      }
    }
  }
}


.carousel__title {
  font-family: $headerFontStack;
  font-size: em($headerFontSize / 1.48);
  color: $colorHeading;
}

.carousel__items {
  margin-left: 0;
  margin-top: 50px;

  .grid-item {
    padding-left: 0px;
  }
}

.carousel__nav-control {
  width: 35px;
  height: 35px;
  position: absolute;
  padding: 5px;
  background-color: $colorHeading;
  color: $colorBody;
  opacity: 0.15;
  @include transition(opacity 0.2s ease-out);

  &:hover,
  &:active {
    background-color: $colorHeading;
    color: $colorBody;
    opacity: 0.8;
    @include transition(opacity 0.05s ease-in);
  }
}

.carousel__nav-control--next {
  right: -95px;
}

.carousel__nav-control--prev {
  left: -95px;
}

/*============================================================================
  # Homepage Slider
==============================================================================*/

.homepage-slider {
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-bottom: $gutter;

  .owl-nav {
    display: none;
  }
}

/*============================================================================
  #Filter Dropdowns
==============================================================================*/
.filter-dropdown {
  position: relative;
  max-width: 250px;
  height: 60px;
  margin: 0 auto;
}

.supports-pointerevents {
  .filter-dropdown__select {
    position: absolute;
  }

  .filter-dropdown__label {
    font-size: $baseFontSize;
    font-family: $bodyFontStack;
    color: $colorTextBody;
    background-color: $colorBody;
    font-weight: normal;
    display: block;
    text-align: left;
    position: absolute;
    top: 3px;
    left: 8px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
  }
}

/*============================================================================
  #Blogs and Comments
==============================================================================*/

.blog__name {
  font-size: em(14px);
  text-transform: uppercase;
  color: $colorSubHeading;
  font-family: $headerFontStack;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 10px;

  &:hover,
  &:active,
  &:focus {
    color: $colorHeading;
  }
}

.blog__details,
.blog-list__details {
  font-family: $accentFontStack;
  font-size: $accentFontSize;
  font-weight: 700;
  color: $colorSubHeading;
  padding-top: 0px;
  margin-top: -10px;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}

  .bullet {
    margin: 0 10px;
  }
}

/*================ Blog List Styles ================*/

.blog-list {
  text-align: center;
}

.blog-list__filters {
  font-size: $baseFontSize;
}

.blog-list__title {
  margin-bottom: 22px;
}

.blog-list__excerpt {
  margin-top: 14px;

  p:last-child {
    margin-bottom: 0;
  }
}

.blog-list__btn-read-more {
  margin-bottom: 55px;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.blog-list__read-more {
  margin-top: 15px;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

/*================ Article ================*/
.blog-article__content {
  margin-top: -22px
}

/*================ Comments ================*/

.blog-comments {
  h3,
  .h3 {
    text-align: center;
    margin: 55px 0 35px;
  }
}

.comment {
  width: 100%;

  .comment__content {
    padding-left: 25px;
    word-wrap: break-word;
  }
}


.comment__details {
  p {
    text-align: right;
    margin: 0px;
  }
}

.comment__author {
  font-size: em(15px);
  font-family: $headerFontStack;
  color: $colorHeading;
  text-transform: capitalize;
  padding-top: 2px;
}

.comment__date {
  font-size: em(13px);
  font-family: $accentFontStack;
  color: $colorSubHeading;

  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.comment-form__errors {
  margin-top : 25px;
}

/*============================================================================
  #Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  border-radius: $radius;
  padding: $gutter / 2;
  margin-bottom: $gutter / 2;
  border: 1px solid transparent;
  text-align: left;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.note {
  border-color: $colorBorder;
}

.errors {
  ul {
    list-style: disc outside;
    margin-left: 20px;
  }
}

.form-success {
  color: $successGreen;
  background-color: lighten($successGreen, 65%);
  border-color: $successGreen;
}

.form-error {
  color: $errorRed;

  &.inline {
    display: inline-block;
  }
}

.errors {
  color: $errorRed;
  background-color: $errorRedBg;
  border-color: $errorRed;
}


/*============================================================================
  #Cart Page
==============================================================================*/
@include at-query ($min, $large) {
  .template-cart .cart-wrapper {
    max-width: 85%;
    margin: 0 auto ($gutter * 2);
  }
}

.cart-row {
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 1px solid $colorBorder;

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0 none;
  }

  .js-qty,
  .ajaxifyCart--qty {
    display: inline-block;
    margin: 0;
  }
}

.cart__additional-checkout-buttons {
  margin-top: 10px;
}

.cart-item__remove {
  display: block;
}

@include at-query ($min, $large) {
  .cart-row__table-layout {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid {
      display: table;
    }

    .grid-item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.cart-image {
  display: block;
  margin: 0 auto;
  max-width: 150px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.cart-subtotal__label {
  display: inline;
}

.cart-subtotal__price {
  margin: 0 0 0 ($gutter * 2);
  display: inline-block;
}

.cart-subtotal__note {
  padding: $gutter 0;
  margin-bottom: 0;
}

.cart-mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);

  @include at-query ($min, $large) {
    display: none;
  }
}

.cart__note-add.is-hidden {
  display: none;
}

.cart__note {
  display: none;

  &.is-active {
    display: block;
  }
}

.cart-row .update-cart {
  margin-right: 10px;
}

.cart-subtotal {
  text-align: right;
}

@include at-query ($max, $small) {
  .cart-wrapper {
    .input-full {
      margin-bottom: 0px;
    }

    input[type="submit"] {
      display: block;
      margin: 10px auto;
    }
  }

  .cart-summary {
    text-align: center;
  }

  .cart-subtotal {
    text-align: center;
  }

  .cart__note-wrapper {
    margin-bottom: 25px;
  }
}

/*============================================================================
  #Collection List Page
==============================================================================*/
.collection-list {
  .section-header,
  h1 {
    margin-bottom: -10px;
  }
}

.collection-list__header {
  padding-bottom: 30px;
}

.collection-item {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-top: 60px;
}

.collection-item__image {
  display: block;
  margin: 0 auto
}

.collection-item__title {
  @extend .product-item__name;
}

.collection-sorting {
  margin-top: 25px;

  /*================ Medium Up Breakpoint ================*/
  @include at-query ($min, $small) {
    margin: 25px 60px 0 60px;

    .grid-item {
      padding: 0 15px;
    }
  }
}

/*============================================================================
  # Login and Account
==============================================================================*/
.account__header {
  margin-bottom: 1.2em;

  h1 {
    margin-bottom: 0;
  }
}


/*============================================================================
  #Contact Page
==============================================================================*/
.contact-form__title {
  margin: 50px 0 30px;
}
.contact-form__errors {
  margin-top: 25px;
}
