$botanic-green: #64b172;

.page-header-box {
    padding: 30px;
    background-color: $botanic-green;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    margin-top: 0 !important;
    margin-bottom: 0px !important;

    @media only screen and (max-width: 768px) {
      .wrapper { padding: 0}
    }
}

#about-the-lab {
  img {
      max-width: 100%;
      margin: 0;
  }
}
.page-header-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.page-header-first-paragraph {
    padding-bottom: 30px;
    background-color: $botanic-green;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    color: white;
}

#terms-amp-conditions, #delivery {
    .main-content a {
        text-decoration: underline;
    }
}

#postcodes {
    table, td, tr {
        border-width: 0px !important;
    }
    td.pc {
        font-weight: bold;
    }
}
