.second-landing.grid {
    margin: 30px 0;
}

.middle-box-wrapper {
    margin: 10px 0;
    position: relative;
}
.middle-box-wrapper a {
    display: block;
}

.middle-box-wrapper:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.middle-box {

    height: 320px !important;
    position: relative;

    background-repeat: no-repeat;

    /* @media only screen and (min-width: 481px) {background-size: 100% auto;} */
    /* @media only screen and (max-width: 480px) {background-size: auto 100%;} */
    background-size: auto 100%;

    margin: 0 10px;
    padding-left: 0 !important;

    h3 {
        text-transform: uppercase;
        font-size: 1.2em;
        color: white;
        text-shadow: 1px 1px black;
        position: absolute;
        top: 30px;
        left: 50px;
        right: 50px;
    }
    .cta, .cta:visited {
              background-color: white;
              color: black;
              text-align: center;

              position: absolute;
              bottom: 100px;
              left: 50px;
          }
    .text-black {
        color: black;
    }
}

.plantmilk-announce-box {
    background-image: url(' {{ "plantmilk-announce.jpg" | asset_url }} ');
}

.isotonic-announce-box {
    background-image: url(' {{ "isotonic-announce.jpg" | asset_url }} ');
}

.journal-announce-box {
    background-image: url(' {{ "journal-announce.jpg" | asset_url }} ');
}

.full-box {
    margin: 30px auto;
    padding: 30px;
}
/* .plantmilk-announce-box__header, */
/* .isotonic-announce-box__header, */
/* .journal-announce-box__header, { */
/*     background-color: rgba(255, 255, 255, 0.4); */
/*     padding: 1em; */
/* } */
.plantmilk-announce-box__header {
    color: back !important;
    text-shadow: 1px 1px white !important;
}
.mailing-list-module__header {
    color: back !important;
    text-shadow: 1px 1px white !important;
}
