.blog-tile {
  margin: 12px 0;

  .blog-tile-inner {
    position: relative;
  }

  img {
      width: 100%;
      height: 100%;
      border: 1px solid #333;
  }

  .blog-tile--label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 40%;
      
      border: 1px solid #333;
      padding: 7px;

      background-color: white;
      .blog-tile--label__date {
          color: #999;
          font-size: 0.85em;
      }
      .blog-tile--label__title {
          text-transform: uppercase;
          color: #333;
          line-height: 1.05em;
      }
  }
}
