.tee_n_cee {
    margin-top: 10px;
    font-size: 0.7em;
    font-style: italic;
}

.cart__note-wrapper {
    margin-top: 20px;
}

.delivery-slot-picker {
    margin-bottom: 0px;
}

.delivery-help-text {
    font-style: italic;
    margin-bottom: 10px;
}

.evening-delivery-wrapper {
    display: none;
}

.evening-delivery {
    font-weight: normal !important;
}

.delivery-option-top,
.delivery-option-bottom
{
    padding: 3px;
    display: block;
}
.delivery-option-bottom {
    font-style: italic;
}

/* .delivery-wrapper { */
/*     position: relative; */
/* } */
/* .delivery-right { */
/*     right: 8px; */
/*     position: absolute; */
/* } */
