.collection-list {
    img {
        max-height: 200px
    }
}

.collection-hero-ingredient {

    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(' {{ "nutrition-fact-hero.jpg" | asset_url }} ');
    background-size: cover;

    .collection-hero-ingredient__content {
        padding: 5em 0;
    }
    .collection-hero-ingredient__content--background {
         background-color: rgba(255, 255, 255, 0.6);
         border-radius: 3px;
    }
    .collection-hero-ingredient__content--title {
         font-size: 32px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
     }
    .collection-hero-ingredient__content--subtitle {
         font-size: 24px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
         font-style: italic;
     }
    .collection-hero-ingredient__content--text {
         font-size: 22px;
         font-family: 'Montserrat';
         margin-top: 1em;
         color: #111;
     }
}
