$botanic-green: #64b172;

.cta  {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.botanic-green {
    color: $botanic-green !important;
}

.botanic-section-header,
.botanic-section-sub-header,
.botanic-section-small-header {
    font-family: Montserrat, HelveticaNeue, 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.botanic-section-header {
    font-weight: bold;
    font-size: 1.15em;
    margin: 15px 0;
}

.botanic-section-subheader {
    font-size: 1.05em;
    margin: 15px 0;
}

.botanic-section-small-header {
    font-weight: bold;
    color: $botanic-green;
    font-size: 1.05em;
}


.botanic-header-split {
    display: inline-block;
    margin-left: 5px;
}
