.juice-family-top {

    /* @media only screen and (min-width: 768px) {height: 500px;} */
    /* @media only screen and (max-width: 768px) {height: 300px;} */

    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(' {{ "category-background.jpg" | asset_url }} ');
    background-size: cover;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);

    .juice-family-top__outer {
        width: 100vw;
        left: calc(50vw - 50%);
        position: absolute;

        background-repeat: no-repeat;
        background-position: left bottom;
        background-image: url(' {{ "category-background.jpg" | asset_url }} ');
        /* background-image: url(' {{ "nutrition-fact-hero.jpg" | asset_url }} '); */

        @media only screen and (min-width: 768px) {
            background-size: 100% auto;
            height: 500px;
        }
        @media only screen and (max-width: 768px) {
            background-size: auto 100%;
            height: 300px;
        }

    }
}

.juice-family-top__inner {
    padding: 30px 0;
}
.juice-family-top__inner--title {
    text-transform: uppercase;
    font-size: 2.5em;
}

.juice-family-top__left {
    background-color: rgba(254, 254, 254, 0.6);
    padding: 15px;

    .juice-family-top__left--title {
        margin-top: 0.4em;
        margin-bottom: 1em;
    }
    .juice-family-top__left--description {
        font-size: 1.1em;
        color: #333;
    }
}

.juice-family-top__box--title {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
}
.juice-family-top__box--image {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    max-width: 300px !important;
}
.juice-family-top__box--price {
}
.juice-family-top__box--price-value {
    font-weight: 100;
    font-size: 3em;
    line-height: 50px;
}
.juice-family-top__box--price-description {
    padding-left: 5px !important;
}
.juice-family-top__box--price-description__top--price-per {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}
.juice-family-top__box--price-description__top--quantity {
    font-style: italic;
    font-size: 1.2em;
}
.juice-family-top__box--price-description__bottom {
    font-size: 1em;
}
.juice-family-top__box--add-to-cart__wrapper {
    margin-top: 1.5em;
}
.juice-family-top__box--add-to-cart {
    background-color: #333;
    padding: 10px 40px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.05em;
    letter-spacing: 3px;
    display: block;
    width: 100%;
}
.juice-family-top__box--form {
    margin: 20px 5px;
}
.juice-family-details {
    background-color: rgb(235, 233, 234);
    padding: 20px !important;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.juice-family-juice-list {
    margin: 3em auto;

    .juice-family-juice-list--title {
        text-align: center;
        margin-top: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #666;
        text-transform: uppercase;
        font-weight: 300;
    }
}


/* .juice-family-nutrition-fact { */
/*     height: 500px; */
/*     width: 100%; */

/*     img.juice-family-nutrition-fact__background { */
/*         width: 100vw; */
/*         left: calc(50vw - 50%); */
/*         position: absolute; */
/*         height: 500px; */
/*     } */
/*     .juice-family-nutrition-content { */
/*         position: relative; */
/*         height: 100%; */
/*     } */
/*     .juice-family-nutrition-fact--wrap { */
/*         /\* background-color: rgba(254, 254, 254, 0.3); *\/ */
/*         border-radius: 10px; */
/*         position: absolute; */
/*         top: 10%; */
/*         left: 0; */
/*         right: 0; */
/*         text-align: center; */
/*         height: 60%; */
/*         padding: 0 2em; */
/*     } */
/*     .juice-family-nutrition-fact--title { */
/*         font-size: 2.2em; */
/*         color: #eee; */
/*         font-family: 'Montserrat'; */
/*         margin-top: 1em; */
/*         text-shadow: 2px 2px black; */
/*     } */
/*     .juice-family-nutrition-fact--text { */
/*         font-size: 26px; */
/*         text-shadow: 2px 2px black; */
/*         font-family: 'Montserrat'; */
/*         color: #eee; */
/*         margin-top: 2em; */
/*     } */
/* } */
