$botanic-yellow: #f9ffba;

.site-footer {

    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 0px;

    background-color: $botanic-yellow;
    color: black;


    .footer-quick-links a {
        color: black;
    }

    .footer-logo {
        text-align: left;

        img {
            width: 200px;
        }

        p {
            font-size: 0.8em;
        }
    }

    .organic-logo {
        width: 120px;
        margin-bottom: 20px;
    }

    .social-icons li {
        a {
            color: black;
            &:hover {
                color: #555;
            }
        }
    }
    @media only screen and (min-width: 769px) {
        .social-icon--last {
            margin-right: 0;
        }
    }

}
