$light-grey: #eee;
$botanic-green: #64b172;
$botanic-yellow: #f9ffba;
$front-height: 500px;

.main-content {
    margin-top: 0px;
}

.site-header {
}

.mailing-list-module {

    background-color: $botanic-yellow;

    input {
        background-color: white;
    }
}

* { box-sizing: border-box; }

.front-landing {
    text-align: center;
    height: $front-height;


    .front-landing-bkg {
        width: 100vw;
        left: calc(50vw - 50%);
        position: absolute;
        @media only screen and (min-width: 481px) {background-size: 100% auto;}
        @media only screen and (max-width: 480px) {background-size: auto 100%;}
        background-repeat: no-repeat;
        background-position: left bottom;
        height: $front-height;

        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);
    }

    @media only screen and (min-width: 769px) {
        .front-landing-bkg {
            background-image: url(' {{ "front-wide.jpg" | asset_url }} ');
        }
    }
    @media only screen and (max-width: 768px) {
        .front-landing-bkg {
            background-image: url(' {{ "front-mobile.jpg" | asset_url }} ');
        }
    }

    .front-landing-inside-wrapper {
        position: relative;
        height: $front-height;
    }

    .front-landing-inside--logo {
        position: absolute;

        top: 40%;
        -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);

        @media only screen and (max-width: 480px) {
            img {width: 70%;}
            width: 380px;
            left: calc(50% - 190px);
        }
        @media only screen and (min-width: 480px) {
            img {width: 100%;}
            width: 500px;
            left: calc(50% - 250px);
        }
    }

    .front-landing-inside--small-cta,
    .front-landing-inside--medium-cta {
        position: absolute;
        top: 70%;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);

        left: calc(50% - 150px);

    }
    .front-landing-cta {
        background-color: $botanic-green;
        color: white;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: darken($botanic-green, 10%);
            transition: all 0.2s linear;
            cursor: pointer;
            color: white;
        }
    }

    .front-landing-inside--small-cta {left: calc(50% - 100px);}
    .front-landing-inside--medium-cta {left: calc(50% - 150px);}

    .front-landing__juice-list-menu {
        position: absolute;
        left: 0;
        right: 0;

        li {
            display: inline-block;
            margin: 0.5em 0.4em;
            padding: 5 10px;
        }
    }
    .medium-up--hide .front-landing__juice-list-menu {
        top: 95%;
        -webkit-transform: translateY(-95%);
        -ms-transform: translateY(-95%);
        transform: translateY(-95%);

        li {
            min-width: 280px;
        }
    }
    .small--hide .front-landing__juice-list-menu {
        top: 78%;
        -webkit-transform: translateY(-78%);
        -ms-transform: translateY(-78%);
        transform: translateY(-78%);
    }

}

@media only screen and (min-width: 769px) {
    .large--one-half-with-margin {
        width: 44%;
    }
}

.hidden-menu {
    display: none;
}
