.site-header {

    .auth,
    .cart-wrapper {
        display: inline-block;
        float: right;
        width: 100px;
    }
    .left-header-menu-item {
        display: inline-block;
        float: left;
        width: 100px;
    }
}

@media screen and (min-width: 481px) {
    .nav-bar {
        display: none !important;
    }
}
