$illustration-zoom: 0.25;
$moz-illustration-zoom: 0.3;
$light-grey: #eee;
$botanic-green: #64b172;

.how-it-works {

    background-color: $light-grey;

    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    .illustration {
        text-align: center;
        .logo {
            margin: 10px auto;
        }
        p {
            margin: 5px 15px;
            font-size: 0.9em;
        }
    }
    .step-1 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -200px 0;
    }
    .step-2 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -400px 0;
    }
    .step-3 .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: -600px 0;
    }
    .subscribe .logo {
        zoom: $illustration-zoom;
        -moz-transform: scale($moz-illustration-zoom);
        width: 160px;
        height: 220px;
        background-image: url(' {{ "icons.png" | asset_url }} ');
        background-position: 0 0;

        h2 {
            text-transform: uppercase;
        }
    }
    .subscribe-cta-wrapper {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .cta {
        cursor: pointer;
        background-color: black;
        color: white;

    }
}
