.ingredients-showcase-module {

    margin: 30px 0;

    .ingredient-header {
        text-transform: uppercase;
    }
    .ingredient-subheader {
        font-size: 0.85em;
        font-style: italic;
    }

    .ingredient {
        margin: 10px 0px 20px 0px;
        img {
            width: 150px;
            height: 100px;
        }
        text-align: center;

        h4 {
            text-transform: uppercase;
            font-size: 0.95em;
        }
        float: left;

        p {
            display: none;
        }
    }
    a, a:visited, a:hover {
      color: rgb(105, 105, 105) !important;
    }
}
