.instagram-module {

    background-color: $light-grey;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);


    .icon-instagram {
        font-size: 2em;
        color: #333;
    }

    .insta-link {
        text-decoration: underline;
    }

    .instafeed-carousel {
        margin: 0 auto;
        padding: 30px 0;
        img {
            width: 180px !important;
            height: 180px !important;
        }
        @media only screen and (min-width: 769px) {}
        @media only screen and (max-width: 768px) {}

    }
    .owl-dot {
        background-color: #ccc;
    }
}
