.juice-grid-item {

    padding: 1em;
    min-height: 250px;

    a > *, a:hover > * {
               color: #333;
           }

    .juice-grid-item__right {

        .juice-grid-item__name {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4em;
            &:hover {
                text-decoration: underline;
            }
        }
        .juice-grid-item__ingredients {
        }
        .juice-grid-item__price {
        }
    }
    &:hover {
        background-color: #eee;
    }
}
