$botanic-green: #64b172;

.press-carousel {
    margin: 0px auto;

    h3 {
        padding: 20px 0;
        text-transform: uppercase;
    }
    .quote {
        margin-bottom: 20px;

        p {
            font-size: 1.6em;
        }
        .origin a {
            font-weight: bold;
            color: $botanic-green;
        }
    }
    .owl-dot.active {
        border: 2px solid $botanic-green;
    }
}

.press-module {
    margin: 30px 0 0 0 !important;
    padding: 30px 0 0 0 !important;
}
