.product-photo-container {
    margin-top: 2em;
    margin-left: 0;
}

.product-section-title {
    font-size: 0.8em;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.product-section-content {
    margin-bottom: 25px;
}


.individual-juice-buy-notice {
    margin-top: 25px;
}

.product-retail-link {
    text-decoration: underline;
}


.juice-program-contents-left,
.juice-program-contents-right
 {
     width: 200px;
     float: left;
 }

.juice-program-title {
    font-weight: bold;
}

.juice-program .juice-qty {
    font-size: 0.8em;
    font-weight: normal;
    color: #aaa;
}

.item-product-description {
    background-color: rgb(235, 233, 234);
    padding: 20px !important;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.item-product-volume {
    font-style: italic;
    font-size: 0.95em;
    margin-top: 1em;
}

.item-product-title {
    h1 {
        text-transform: uppercase;
        font-weight: 300;
        text-align: left !important;
    }
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

.item-product-price {
    font-size: 1.4em;
}

.item-product-info {
    padding-left: 0 !important;
}

.product-ingredients-container {
    h2 {
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.85em;
    }
    .ingredient {
        font-weight: bold;
        font-size: 0.95em;
    }
    .product-ingredients__label {
        font-size: 0.85em;
        font-style: italic;
    }
        
}

.product-hero-ingredient {
    margin-top: 2em;

    .product-hero-ingredient__description {
        padding: 0em 2em;
    }
    .product-hero-ingredient__description--title {
        font-size: 26px;
        margin-top: 1em;
    }
    .product-hero-ingredient__description--subtitle {
        font-size: 20px;
        margin-top: 1em;
        font-style: italic;
    }
    .product-hero-ingredient__description--text {
        font-size: 16px;
        margin-top: 2em;
    }
}

.product-mixed-box__wrapper {
    list-style: none;
}
.product-mixed-box__link {

    background-color: $botanic-green;
    color: white;
    cursor: pointer;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */

    text-decoration: none;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;

    margin-right: 4px;
    margin-bottom: 10px !important;
    display: block;
    max-width: 250px;
    text-align: center;

    &:hover {
        background-color: darken($botanic-green, 10%);
        transition: all 0.2s linear;
        cursor: pointer;
        color: white;
    }
    &:visited {
        color: white;
    }

}

ul {
    margin-top: 11px;
}

.product-delivery {

    background-color: #eee;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);

    margin-top: 2em;

    .product-delivery-inner {
        padding: 2em 0;
    }

    .product-delivery__header {
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .product-delivery__text {
        font-size: 0.9em;
        margin-bottom: 1.5em;
    }
    .product-delivery__link:visited,
    .product-delivery__link {
        color: rgb(105, 105, 105);
        text-decoration: underline;
        font-weight: bold;
    }
    .product-delivery-icon {
        width: 80px;
        margin-right: 1em;
        margin-top: 1.5em;
    }
}
