.spotlight-benefits {
    .benefit {
        border: 1px solid #666;
        padding: 7px 18px;
        font-size: 12px;
        border-radius: 2px;
        margin-right: 4px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
        list-style: none;
        display: inline-block;
    }
    ul {
        margin-top: 10px;
    }
}
